.style2 ul,
.advanced ul,
ul.advanced{
    margin-left: 0;
}
.advanced ol li,
.advanced ul li,
ul.advanced li{
	padding: 5px 0;
    list-style: none;
    margin-left: 0;
}
.style2 ul li{
    list-style: none;
    background-position: 0 2px !important;	
}
.style2.lists-ordered ul li,
.style2.lists-disc ul li,
.style2.lists-square ul li,
.style2.lists-circle ul li,
.advanced.lists-ordered ul li,
.advanced.lists-disc ul li,
.advanced.lists-square ul li,
.advanced.lists-circle ul li,
ul.advanced.lists-ordered li,
ul.advanced.lists-disc li,
ul.advanced.lists-square li,
ul.advanced.lists-circle li{
	margin-left: 25px;
}
.lists-circle ul li,
.advanced.circle ul li{
	list-style: circle;
}
.lists-square ul li,
.advanced.square ul li{
	list-style: square;
}
.lists-disc ul li,
.advanced.disc ul li{
	list-style: disc;
}
.lists-ordered ul li,
.advanced.ordered ul li{
	list-style: decimal;
}
#footer .style2 li a,
#footer .style1 li a,
#footer .advanced li a{
	color: #555;
	text-decoration: none;
}
#footer .style2 li a:hover,
#footer .style1 li a:hover,
#footer .advanced li a:hover{
	text-decoration: underline
}
.lists-none ul li{
    background: none;
    padding-left: 0 !important;
}
.lists-accessibility ul li{
    background-image: url('../Rocky_Vector_Set/16px/accessibility.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-agenda ul li{
    background-image: url('../Rocky_Vector_Set/16px/agenda.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-airplane ul li{
    background-image: url('../Rocky_Vector_Set/16px/airplane.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-alarm ul li{
    background-image: url('../Rocky_Vector_Set/16px/alarm.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-album ul li{
    background-image: url('../Rocky_Vector_Set/16px/album.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-alert ul li{
    background-image: url('../Rocky_Vector_Set/16px/alert.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-annoucement ul li{
    background-image: url('../Rocky_Vector_Set/16px/annoucement.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-archive ul li{
    background-image: url('../Rocky_Vector_Set/16px/archive.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-arrow-down ul li{
    background-image: url('../Rocky_Vector_Set/16px/arrow-down.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-arrow-left ul li{
    background-image: url('../Rocky_Vector_Set/16px/arrow-left.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-arrow-right ul li{
    background-image: url('../Rocky_Vector_Set/16px/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-arrow-up ul li{
    background-image: url('../Rocky_Vector_Set/16px/arrow-up.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-art-brush ul li{
    background-image: url('../Rocky_Vector_Set/16px/art-brush.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-auction ul li{
    background-image: url('../Rocky_Vector_Set/16px/auction.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-award ul li{
    background-image: url('../Rocky_Vector_Set/16px/award.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-battery-charge ul li{
    background-image: url('../Rocky_Vector_Set/16px/battery-charge.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-battery-full ul li{
    background-image: url('../Rocky_Vector_Set/16px/battery-full.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-battery-half ul li{
    background-image: url('../Rocky_Vector_Set/16px/battery-half.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-battery-low ul li{
    background-image: url('../Rocky_Vector_Set/16px/battery-low.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-bell ul li{
    background-image: url('../Rocky_Vector_Set/16px/bell.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-bicycle ul li{
    background-image: url('../Rocky_Vector_Set/16px/bicycle.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-blackberry ul li{
    background-image: url('../Rocky_Vector_Set/16px/blackberry.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-bluetooth ul li{
    background-image: url('../Rocky_Vector_Set/16px/bluetooth.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-boat ul li{
    background-image: url('../Rocky_Vector_Set/16px/boat.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-book ul li{
    background-image: url('../Rocky_Vector_Set/16px/book.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-bookmark ul li{
    background-image: url('../Rocky_Vector_Set/16px/bookmark.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-briefcase ul li{
    background-image: url('../Rocky_Vector_Set/16px/briefcase.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-brightness ul li{
    background-image: url('../Rocky_Vector_Set/16px/brightness.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-bug ul li{
    background-image: url('../Rocky_Vector_Set/16px/bug.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-bus ul li{
    background-image: url('../Rocky_Vector_Set/16px/bus.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-calculator ul li{
    background-image: url('../Rocky_Vector_Set/16px/calculator.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-calendar ul li{
    background-image: url('../Rocky_Vector_Set/16px/calendar.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-calendar-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/calendar-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-calendar-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/calendar-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important        
}
.lists-calendar-edit ul li{
    background-image: url('../Rocky_Vector_Set/16px/calendar-edit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important    
}
.lists-calendar-na ul li{
    background-image: url('../Rocky_Vector_Set/16px/calendar-na.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-calendar-time ul li{
    background-image: url('../Rocky_Vector_Set/16px/calendar-time.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-camera ul li{
    background-image: url('../Rocky_Vector_Set/16px/camera.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-car ul li{
    background-image: url('../Rocky_Vector_Set/16px/car.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-cd ul li{
    background-image: url('../Rocky_Vector_Set/16px/cd.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-chart ul li{
    background-image: url('../Rocky_Vector_Set/16px/chart.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-check ul li{
    background-image: url('../Rocky_Vector_Set/16px/check.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-check-box ul li{
    background-image: url('../Rocky_Vector_Set/16px/check-box.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-clipboard ul li{
    background-image: url('../Rocky_Vector_Set/16px/clipboard.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-clock ul li{
    background-image: url('../Rocky_Vector_Set/16px/clock.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-coffee-cup ul li{
    background-image: url('../Rocky_Vector_Set/16px/coffee-cup.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-coffee-mug ul li{
    background-image: url('../Rocky_Vector_Set/16px/coffee-mug.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-collapse ul li{
    background-image: url('../Rocky_Vector_Set/16px/collapse.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-comment ul li{
    background-image: url('../Rocky_Vector_Set/16px/comment.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-comment-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/comment-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-comment-check ul li{
    background-image: url('../Rocky_Vector_Set/16px/comment-check.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-comment-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/comment-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-comment-disable ul li{
    background-image: url('../Rocky_Vector_Set/16px/comment-disable.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-comment-write ul li{
    background-image: url('../Rocky_Vector_Set/16px/comment-write.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-compass ul li{
    background-image: url('../Rocky_Vector_Set/16px/compass.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-connect ul li{
    background-image: url('../Rocky_Vector_Set/16px/connect.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-connection-signal ul li{
    background-image: url('../Rocky_Vector_Set/16px/connection-signal.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-construction ul li{
    background-image: url('../Rocky_Vector_Set/16px/construction.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-construction-hat ul li{
    background-image: url('../Rocky_Vector_Set/16px/construction-hat.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-contact-book ul li{
    background-image: url('../Rocky_Vector_Set/16px/contact-book.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-contact-card ul li{
    background-image: url('../Rocky_Vector_Set/16px/contact-card.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-contrast ul li{
    background-image: url('../Rocky_Vector_Set/16px/contrast.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-eject ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-eject.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-forward ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-forward.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-next ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-next.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-pause ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-pause.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-play ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-play.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-previous ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-previous.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-record ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-record.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-rewind ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-rewind.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-controller-stop ul li{
    background-image: url('../Rocky_Vector_Set/16px/controller-stop.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-cool ul li{
    background-image: url('../Rocky_Vector_Set/16px/cool.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-copy ul li{
    background-image: url('../Rocky_Vector_Set/16px/copy.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-credit-card ul li{
    background-image: url('../Rocky_Vector_Set/16px/credit-card.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-cursor ul li{
    background-image: url('../Rocky_Vector_Set/16px/cursor.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-cut ul li{
    background-image: url('../Rocky_Vector_Set/16px/cut.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-dashboard ul li{
    background-image: url('../Rocky_Vector_Set/16px/dashboard.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database ul li{
    background-image: url('../Rocky_Vector_Set/16px/database.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-check ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-check.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-edit ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-edit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-error ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-error.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-export ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-export.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-import ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-import.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-lock ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-lock.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-na ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-na.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-reload ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-reload.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-save ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-save.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-search ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-search.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-start ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-start.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-stop ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-stop.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-database-user ul li{
    background-image: url('../Rocky_Vector_Set/16px/database-user.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-delivery-truck ul li{
    background-image: url('../Rocky_Vector_Set/16px/delivery-truck.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-disconnect ul li{
    background-image: url('../Rocky_Vector_Set/16px/disconnect.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-discussion ul li{
    background-image: url('../Rocky_Vector_Set/16px/discussion.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-download ul li{
    background-image: url('../Rocky_Vector_Set/16px/download.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-earth ul li{
    background-image: url('../Rocky_Vector_Set/16px/earth.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-edit-disable ul li{
    background-image: url('../Rocky_Vector_Set/16px/edit-disable.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email ul li{
    background-image: url('../Rocky_Vector_Set/16px/email.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/email-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email-forward ul li{
    background-image: url('../Rocky_Vector_Set/16px/email-forward.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email-new ul li{
    background-image: url('../Rocky_Vector_Set/16px/email-new.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email-open ul li{
    background-image: url('../Rocky_Vector_Set/16px/email-open.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email-reply ul li{
    background-image: url('../Rocky_Vector_Set/16px/email-reply.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-email-write ul li{
    background-image: url('../Rocky_Vector_Set/16px/email-write.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-employee-id ul li{
    background-image: url('../Rocky_Vector_Set/16px/employee-id.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-exchange ul li{
    background-image: url('../Rocky_Vector_Set/16px/exchange.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-expand ul li{
    background-image: url('../Rocky_Vector_Set/16px/expand.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-eye ul li{
    background-image: url('../Rocky_Vector_Set/16px/eye.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-eyedropper ul li{
    background-image: url('../Rocky_Vector_Set/16px/eyedropper.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-fan ul li{
    background-image: url('../Rocky_Vector_Set/16px/fan.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-favorite ul li{
    background-image: url('../Rocky_Vector_Set/16px/favorite.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-favorite-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/favorite-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-favorite-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/favorite-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-favorite-edit ul li{
    background-image: url('../Rocky_Vector_Set/16px/favorite-edit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-fever-chart ul li{
    background-image: url('../Rocky_Vector_Set/16px/fever-chart.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-filter ul li{
    background-image: url('../Rocky_Vector_Set/16px/filter.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-financial ul li{
    background-image: url('../Rocky_Vector_Set/16px/financial.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-first-aid-box ul li{
    background-image: url('../Rocky_Vector_Set/16px/first-aid-box.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-flag ul li{
    background-image: url('../Rocky_Vector_Set/16px/flag.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-flash ul li{
    background-image: url('../Rocky_Vector_Set/16px/flash.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-folder ul li{
    background-image: url('../Rocky_Vector_Set/16px/folder.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-folder-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/folder-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-folder-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/folder-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-folder-edit ul li{
    background-image: url('../Rocky_Vector_Set/16px/folder-edit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-folder-search ul li{
    background-image: url('../Rocky_Vector_Set/16px/folder-search.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-font-decrease ul li{
    background-image: url('../Rocky_Vector_Set/16px/font-decrease.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-font-increase ul li{
    background-image: url('../Rocky_Vector_Set/16px/font-increase.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-fullscreen ul li{
    background-image: url('../Rocky_Vector_Set/16px/fullscreen.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-fullscreen-enter ul li{
    background-image: url('../Rocky_Vector_Set/16px/fullscreen-enter.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-fullscreen-exit ul li{
    background-image: url('../Rocky_Vector_Set/16px/fullscreen-exit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-game-controller ul li{
    background-image: url('../Rocky_Vector_Set/16px/game-controller.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-gift ul li{
    background-image: url('../Rocky_Vector_Set/16px/gift.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-gift-card ul li{
    background-image: url('../Rocky_Vector_Set/16px/gift-card.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-go-to-bottom ul li{
    background-image: url('../Rocky_Vector_Set/16px/go-to-bottom.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-go-to-top ul li{
    background-image: url('../Rocky_Vector_Set/16px/go-to-top.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-gym ul li{
    background-image: url('../Rocky_Vector_Set/16px/gym.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-hammer ul li{
    background-image: url('../Rocky_Vector_Set/16px/hammer.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-hand ul li{
    background-image: url('../Rocky_Vector_Set/16px/hand.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-hand-pointer ul li{
    background-image: url('../Rocky_Vector_Set/16px/hand-pointer.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-headphone ul li{
    background-image: url('../Rocky_Vector_Set/16px/headphone.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-help ul li{
    background-image: url('../Rocky_Vector_Set/16px/help.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-highlighter ul li{
    background-image: url('../Rocky_Vector_Set/16px/highlighter.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-history ul li{
    background-image: url('../Rocky_Vector_Set/16px/history.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-home ul li{
    background-image: url('../Rocky_Vector_Set/16px/home.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-hot ul li{
    background-image: url('../Rocky_Vector_Set/16px/hot.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-hourglass ul li{
    background-image: url('../Rocky_Vector_Set/16px/hourglass.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-infinite ul li{
    background-image: url('../Rocky_Vector_Set/16px/infinite.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-info ul li{
    background-image: url('../Rocky_Vector_Set/16px/info.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-iphone ul li{
    background-image: url('../Rocky_Vector_Set/16px/iphone.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-ipod ul li{
    background-image: url('../Rocky_Vector_Set/16px/ipod.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-key ul li{
    background-image: url('../Rocky_Vector_Set/16px/key.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-lab ul li{
    background-image: url('../Rocky_Vector_Set/16px/lab.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-laptop ul li{
    background-image: url('../Rocky_Vector_Set/16px/laptop.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-light-bulb ul li{
    background-image: url('../Rocky_Vector_Set/16px/light-bulb.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
ul.link li,
.lists-link ul li{
    background-image: url('../Rocky_Vector_Set/16px/link.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-location ul li{
    background-image: url('../Rocky_Vector_Set/16px/location.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-location-pin ul li{
    background-image: url('../Rocky_Vector_Set/16px/location-pin.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-lock ul li{
    background-image: url('../Rocky_Vector_Set/16px/lock.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-login ul li{
    background-image: url('../Rocky_Vector_Set/16px/login.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-logout ul li{
    background-image: url('../Rocky_Vector_Set/16px/logout.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-luggage ul li{
    background-image: url('../Rocky_Vector_Set/16px/luggage.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-magic-wand ul li{
    background-image: url('../Rocky_Vector_Set/16px/magic-wand.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-mailbox ul li{
    background-image: url('../Rocky_Vector_Set/16px/mailbox.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-mailbox-in ul li{
    background-image: url('../Rocky_Vector_Set/16px/mailbox-in.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-mailbox-out ul li{
    background-image: url('../Rocky_Vector_Set/16px/mailbox-out.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-martini-glass ul li{
    background-image: url('../Rocky_Vector_Set/16px/martini-glass.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-merge ul li{
    background-image: url('../Rocky_Vector_Set/16px/merge.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-microphone ul li{
    background-image: url('../Rocky_Vector_Set/16px/microphone.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-minus ul li{
    background-image: url('../Rocky_Vector_Set/16px/minus.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-monitor ul li{
    background-image: url('../Rocky_Vector_Set/16px/monitor.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-mouse ul li{
    background-image: url('../Rocky_Vector_Set/16px/mouse.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-move ul li{
    background-image: url('../Rocky_Vector_Set/16px/move.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-museum ul li{
    background-image: url('../Rocky_Vector_Set/16px/museum.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-music ul li{
    background-image: url('../Rocky_Vector_Set/16px/music.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-network ul li{
    background-image: url('../Rocky_Vector_Set/16px/network.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-newspaper ul li{
    background-image: url('../Rocky_Vector_Set/16px/newspaper.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-notepad ul li{
    background-image: url('../Rocky_Vector_Set/16px/notepad.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-office-chair ul li{
    background-image: url('../Rocky_Vector_Set/16px/office-chair.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-orbit ul li{
    background-image: url('../Rocky_Vector_Set/16px/orbit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-package-box ul li{
    background-image: url('../Rocky_Vector_Set/16px/package-box.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page ul li{
    background-image: url('../Rocky_Vector_Set/16px/page.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-check ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-check.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
ul.page-edit li,
.lists-page-edit ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-edit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-error ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-error.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-lock ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-lock.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-new ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-new.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-not-found ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-not-found.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-save ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-save.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-search ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-search.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-page-user ul li{
    background-image: url('../Rocky_Vector_Set/16px/page-user.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-paint-brush ul li{
    background-image: url('../Rocky_Vector_Set/16px/paint-brush.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-paper-clip ul li{
    background-image: url('../Rocky_Vector_Set/16px/paper-clip.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-paste ul li{
    background-image: url('../Rocky_Vector_Set/16px/paste.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-pen ul li{
    background-image: url('../Rocky_Vector_Set/16px/pen.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-pencil ul li{
    background-image: url('../Rocky_Vector_Set/16px/pencil.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-phone ul li{
    background-image: url('../Rocky_Vector_Set/16px/phone.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-phone-classic ul li{
    background-image: url('../Rocky_Vector_Set/16px/phone-classic.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-phone-mobile ul li{
    background-image: url('../Rocky_Vector_Set/16px/phone-mobile.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-picture ul li{
    background-image: url('../Rocky_Vector_Set/16px/picture.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-pie-chart ul li{
    background-image: url('../Rocky_Vector_Set/16px/pie-chart.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-pin ul li{
    background-image: url('../Rocky_Vector_Set/16px/pin.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-plugin ul li{
    background-image: url('../Rocky_Vector_Set/16px/plugin.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-podcast ul li{
    background-image: url('../Rocky_Vector_Set/16px/podcast.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-power ul li{
    background-image: url('../Rocky_Vector_Set/16px/power.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-presentation ul li{
    background-image: url('../Rocky_Vector_Set/16px/presentation.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-print ul li{
    background-image: url('../Rocky_Vector_Set/16px/print.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-puzzle ul li{
    background-image: url('../Rocky_Vector_Set/16px/puzzle.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-quote ul li{
    background-image: url('../Rocky_Vector_Set/16px/quote.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-radio ul li{
    background-image: url('../Rocky_Vector_Set/16px/radio.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-recycle ul li{
    background-image: url('../Rocky_Vector_Set/16px/recycle.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-redo ul li{
    background-image: url('../Rocky_Vector_Set/16px/redo.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-reload ul li{
    background-image: url('../Rocky_Vector_Set/16px/reload.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-remote-controller ul li{
    background-image: url('../Rocky_Vector_Set/16px/remote-controller.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-repeat ul li{
    background-image: url('../Rocky_Vector_Set/16px/repeat.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important
}
.lists-replay ul li{
    background-image: url('../Rocky_Vector_Set/16px/replay.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-restrict ul li{
    background-image: url('../Rocky_Vector_Set/16px/restrict.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-rocket ul li{
    background-image: url('../Rocky_Vector_Set/16px/rocket.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-rss ul li{
    background-image: url('../Rocky_Vector_Set/16px/rss.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-satellite ul li{
    background-image: url('../Rocky_Vector_Set/16px/satellite.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-save ul li{
    background-image: url('../Rocky_Vector_Set/16px/save.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-script ul li{
    background-image: url('../Rocky_Vector_Set/16px/script.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-search ul li{
    background-image: url('../Rocky_Vector_Set/16px/search.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-security ul li{
    background-image: url('../Rocky_Vector_Set/16px/security.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-setting ul li{
    background-image: url('../Rocky_Vector_Set/16px/setting.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-share ul li{
    background-image: url('../Rocky_Vector_Set/16px/share.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-shopping-bag ul li{
    background-image: url('../Rocky_Vector_Set/16px/shopping-bag.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-shopping-basket ul li{
    background-image: url('../Rocky_Vector_Set/16px/shopping-basket.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-shopping-cart ul li{
    background-image: url('../Rocky_Vector_Set/16px/shopping-cart.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-shovel ul li{
    background-image: url('../Rocky_Vector_Set/16px/shovel.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-shuffle ul li{
    background-image: url('../Rocky_Vector_Set/16px/shuffle.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-shutter ul li{
    background-image: url('../Rocky_Vector_Set/16px/shutter.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-sign ul li{
    background-image: url('../Rocky_Vector_Set/16px/sign.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-sitemap ul li{
    background-image: url('../Rocky_Vector_Set/16px/sitemap.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-slice ul li{
    background-image: url('../Rocky_Vector_Set/16px/slice.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-sofa-chair ul li{
    background-image: url('../Rocky_Vector_Set/16px/sofa-chair.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-split ul li{
    background-image: url('../Rocky_Vector_Set/16px/split.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-sport ul li{
    background-image: url('../Rocky_Vector_Set/16px/sport.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-sprayer ul li{
    background-image: url('../Rocky_Vector_Set/16px/sprayer.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-star ul li{
    background-image: url('../Rocky_Vector_Set/16px/star.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-stock-chart ul li{
    background-image: url('../Rocky_Vector_Set/16px/stock-chart.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-stop ul li{
    background-image: url('../Rocky_Vector_Set/16px/stop.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-zoom-in ul li{
    background-image: url('../Rocky_Vector_Set/16px/zoom-in.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-zoom-out ul li{
    background-image: url('../Rocky_Vector_Set/16px/zoom-out.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
ul.tag li,
.lists-tag ul li{
    background-image: url('../Rocky_Vector_Set/16px/tag.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-tag-cloud ul li{
    background-image: url('../Rocky_Vector_Set/16px/tag-cloud.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-thumb-down ul li{
    background-image: url('../Rocky_Vector_Set/16px/thumb-down.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-thumb-up ul li{
    background-image: url('../Rocky_Vector_Set/16px/thumb-up.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-ticket ul li{
    background-image: url('../Rocky_Vector_Set/16px/ticket.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-timer ul li{
    background-image: url('../Rocky_Vector_Set/16px/timer.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-tool ul li{
    background-image: url('../Rocky_Vector_Set/16px/tool.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-tool-box ul li{
    background-image: url('../Rocky_Vector_Set/16px/tool-box.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-train ul li{
    background-image: url('../Rocky_Vector_Set/16px/train.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-trash ul li{
    background-image: url('../Rocky_Vector_Set/16px/trash.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-trophy ul li{
    background-image: url('../Rocky_Vector_Set/16px/trophy.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-tv ul li{
    background-image: url('../Rocky_Vector_Set/16px/tv.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-umbella ul li{
    background-image: url('../Rocky_Vector_Set/16px/umbella.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-undo ul li{
    background-image: url('../Rocky_Vector_Set/16px/undo.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-unlock ul li{
    background-image: url('../Rocky_Vector_Set/16px/unlock.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-upload ul li{
    background-image: url('../Rocky_Vector_Set/16px/upload.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-usb ul li{
    background-image: url('../Rocky_Vector_Set/16px/usb.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user ul li{
    background-image: url('../Rocky_Vector_Set/16px/user.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user-add ul li{
    background-image: url('../Rocky_Vector_Set/16px/user-add.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user-comment ul li{
    background-image: url('../Rocky_Vector_Set/16px/user-comment.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user-delete ul li{
    background-image: url('../Rocky_Vector_Set/16px/user-delete.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user-disable ul li{
    background-image: url('../Rocky_Vector_Set/16px/user-disable.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user-edit ul li{
    background-image: url('../Rocky_Vector_Set/16px/user-edit.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-user-group ul li{
    background-image: url('../Rocky_Vector_Set/16px/user-group.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-walk ul li{
    background-image: url('../Rocky_Vector_Set/16px/walk.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-wallet ul li{
    background-image: url('../Rocky_Vector_Set/16px/wallet.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-weather ul li{
    background-image: url('../Rocky_Vector_Set/16px/weather.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-web ul li{
    background-image: url('../Rocky_Vector_Set/16px/web.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-webcam ul li{
    background-image: url('../Rocky_Vector_Set/16px/webcam.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-video-camera ul li{
    background-image: url('../Rocky_Vector_Set/16px/video-camera.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-video-clapper ul li{
    background-image: url('../Rocky_Vector_Set/16px/video-clapper.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-video-film ul li{
    background-image: url('../Rocky_Vector_Set/16px/video-film.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-video-reel ul li{
    background-image: url('../Rocky_Vector_Set/16px/video-reel.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-wine-glass ul li{
    background-image: url('../Rocky_Vector_Set/16px/wine-glass.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-wireless ul li{
    background-image: url('../Rocky_Vector_Set/16px/wireless.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-voice-command ul li{
    background-image: url('../Rocky_Vector_Set/16px/voice-command.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-voice-command-disable ul li{
    background-image: url('../Rocky_Vector_Set/16px/voice-command-disable.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-volume-high ul li{
    background-image: url('../Rocky_Vector_Set/16px/volume-high.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-volume-low ul li{
    background-image: url('../Rocky_Vector_Set/16px/volume-low.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-volume-mute ul li{
    background-image: url('../Rocky_Vector_Set/16px/volume-mute.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}
.lists-write-note ul li{
    background-image: url('../Rocky_Vector_Set/16px/write-note.png');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 26px !important;
}