.nav-tabs li.accessibility a{
    background-image: url('../Rocky_Vector_Set/16px/accessibility.png') !important;

}
.nav-tabs li.add a{
    background-image: url('../Rocky_Vector_Set/16px/add.png') !important;

}
.nav-tabs li.agenda a{
    background-image: url('../Rocky_Vector_Set/16px/agenda.png') !important;

}
.nav-tabs li.airplane a{
    background-image: url('../Rocky_Vector_Set/16px/airplane.png') !important;

}
.nav-tabs li.alarm a{
    background-image: url('../Rocky_Vector_Set/16px/alarm.png') !important;

}
.nav-tabs li.album a{
    background-image: url('../Rocky_Vector_Set/16px/album.png') !important;

}
.nav-tabs li.alert a{
    background-image: url('../Rocky_Vector_Set/16px/alert.png') !important;

}
.nav-tabs li.annoucement a{
    background-image: url('../Rocky_Vector_Set/16px/annoucement.png') !important;

}
.nav-tabs li.archive a{
    background-image: url('../Rocky_Vector_Set/16px/archive.png') !important;

}
.nav-tabs li.arrow-down a{
    background-image: url('../Rocky_Vector_Set/16px/arrow-down.png') !important;

}
.nav-tabs li.arrow-left a{
    background-image: url('../Rocky_Vector_Set/16px/arrow-left.png') !important;

}
.nav-tabs li.arrow-right a{
    background-image: url('../Rocky_Vector_Set/16px/arrow-right.png') !important;

}
.nav-tabs li.arrow-up a{
    background-image: url('../Rocky_Vector_Set/16px/arrow-up.png') !important;

}
.nav-tabs li.art-brush a{
    background-image: url('../Rocky_Vector_Set/16px/art-brush.png') !important;

}
.nav-tabs li.auction a{
    background-image: url('../Rocky_Vector_Set/16px/auction.png') !important;

}
.nav-tabs li.award a{
    background-image: url('../Rocky_Vector_Set/16px/award.png') !important;

}
.nav-tabs li.battery-charge a{
    background-image: url('../Rocky_Vector_Set/16px/battery-charge.png') !important;

}
.nav-tabs li.battery-full a{
    background-image: url('../Rocky_Vector_Set/16px/battery-full.png') !important;

}
.nav-tabs li.battery-half a{
    background-image: url('../Rocky_Vector_Set/16px/battery-half.png') !important;

}
.nav-tabs li.battery-low a{
    background-image: url('../Rocky_Vector_Set/16px/battery-low.png') !important;

}
.nav-tabs li.bell a{
    background-image: url('../Rocky_Vector_Set/16px/bell.png') !important;

}
.nav-tabs li.bicycle a{
    background-image: url('../Rocky_Vector_Set/16px/bicycle.png') !important;

}
.nav-tabs li.blackberry a{
    background-image: url('../Rocky_Vector_Set/16px/blackberry.png') !important;

}
.nav-tabs li.bluetooth a{
    background-image: url('../Rocky_Vector_Set/16px/bluetooth.png') !important;

}
.nav-tabs li.boat a{
    background-image: url('../Rocky_Vector_Set/16px/boat.png') !important;

}
.nav-tabs li.book a{
    background-image: url('../Rocky_Vector_Set/16px/book.png') !important;

}
.nav-tabs li.bookmark a{
    background-image: url('../Rocky_Vector_Set/16px/bookmark.png') !important;

}
.nav-tabs li.briefcase a{
    background-image: url('../Rocky_Vector_Set/16px/briefcase.png') !important;

}
.nav-tabs li.brightness a{
    background-image: url('../Rocky_Vector_Set/16px/brightness.png') !important;

}
.nav-tabs li.bug a{
    background-image: url('../Rocky_Vector_Set/16px/bug.png') !important;

}
.nav-tabs li.bus a{
    background-image: url('../Rocky_Vector_Set/16px/bus.png') !important;

}
.nav-tabs li.calculator a{
    background-image: url('../Rocky_Vector_Set/16px/calculator.png') !important;

}
.nav-tabs li.calendar a{
    background-image: url('../Rocky_Vector_Set/16px/calendar.png') !important;

}
.nav-tabs li.calendar-add a{
    background-image: url('../Rocky_Vector_Set/16px/calendar-add.png') !important;

}
.nav-tabs li.calendar-delete a{
    background-image: url('../Rocky_Vector_Set/16px/calendar-delete.png') !important;
      
}
.nav-tabs li.calendar-edit a{
    background-image: url('../Rocky_Vector_Set/16px/calendar-edit.png') !important;
  
}
.nav-tabs li.calendar-na a{
    background-image: url('../Rocky_Vector_Set/16px/calendar-na.png') !important;

}
.nav-tabs li.calendar-time a{
    background-image: url('../Rocky_Vector_Set/16px/calendar-time.png') !important;

}
.nav-tabs li.camera a{
    background-image: url('../Rocky_Vector_Set/16px/camera.png') !important;

}
.nav-tabs li.car a{
    background-image: url('../Rocky_Vector_Set/16px/car.png') !important;

}
.nav-tabs li.cd a{
    background-image: url('../Rocky_Vector_Set/16px/cd.png') !important;

}
.nav-tabs li.chart a{
    background-image: url('../Rocky_Vector_Set/16px/chart.png') !important;

}
.nav-tabs li.check a{
    background-image: url('../Rocky_Vector_Set/16px/check.png') !important;

}
.nav-tabs li.check-box a{
    background-image: url('../Rocky_Vector_Set/16px/check-box.png') !important;

}
.nav-tabs li.clipboard a{
    background-image: url('../Rocky_Vector_Set/16px/clipboard.png') !important;

}
.nav-tabs li.clock a{
    background-image: url('../Rocky_Vector_Set/16px/clock.png') !important;

}
.nav-tabs li.coffee-cup a{
    background-image: url('../Rocky_Vector_Set/16px/coffee-cup.png') !important;

}
.nav-tabs li.coffee-mug a{
    background-image: url('../Rocky_Vector_Set/16px/coffee-mug.png') !important;

}
.nav-tabs li.collapse a{
    background-image: url('../Rocky_Vector_Set/16px/collapse.png') !important;

}
.nav-tabs li.comment a{
    background-image: url('../Rocky_Vector_Set/16px/comment.png') !important;

}
.nav-tabs li.comment-add a{
    background-image: url('../Rocky_Vector_Set/16px/comment-add.png') !important;

}
.nav-tabs li.comment-check a{
    background-image: url('../Rocky_Vector_Set/16px/comment-check.png') !important;

}
.nav-tabs li.comment-delete a{
    background-image: url('../Rocky_Vector_Set/16px/comment-delete.png') !important;

}
.nav-tabs li.comment-disable a{
    background-image: url('../Rocky_Vector_Set/16px/comment-disable.png') !important;

}
.nav-tabs li.comment-write a{
    background-image: url('../Rocky_Vector_Set/16px/comment-write.png') !important;

}
.nav-tabs li.compass a{
    background-image: url('../Rocky_Vector_Set/16px/compass.png') !important;

}
.nav-tabs li.connect a{
    background-image: url('../Rocky_Vector_Set/16px/connect.png') !important;

}
.nav-tabs li.connection-signal a{
    background-image: url('../Rocky_Vector_Set/16px/connection-signal.png') !important;

}
.nav-tabs li.construction a{
    background-image: url('../Rocky_Vector_Set/16px/construction.png') !important;

}
.nav-tabs li.construction-hat a{
    background-image: url('../Rocky_Vector_Set/16px/construction-hat.png') !important;

}
.nav-tabs li.contact-book a{
    background-image: url('../Rocky_Vector_Set/16px/contact-book.png') !important;

}
.nav-tabs li.contact-card a{
    background-image: url('../Rocky_Vector_Set/16px/contact-card.png') !important;

}
.nav-tabs li.contrast a{
    background-image: url('../Rocky_Vector_Set/16px/contrast.png') !important;

}
.nav-tabs li.controller-eject a{
    background-image: url('../Rocky_Vector_Set/16px/controller-eject.png') !important;

}
.nav-tabs li.controller-forward a{
    background-image: url('../Rocky_Vector_Set/16px/controller-forward.png') !important;

}
.nav-tabs li.controller-next a{
    background-image: url('../Rocky_Vector_Set/16px/controller-next.png') !important;

}
.nav-tabs li.controller-pause a{
    background-image: url('../Rocky_Vector_Set/16px/controller-pause.png') !important;

}
.nav-tabs li.controller-play a{
    background-image: url('../Rocky_Vector_Set/16px/controller-play.png') !important;

}
.nav-tabs li.controller-previous a{
    background-image: url('../Rocky_Vector_Set/16px/controller-previous.png') !important;

}
.nav-tabs li.controller-record a{
    background-image: url('../Rocky_Vector_Set/16px/controller-record.png') !important;

}
.nav-tabs li.controller-rewind a{
    background-image: url('../Rocky_Vector_Set/16px/controller-rewind.png') !important;

}
.nav-tabs li.controller-stop a{
    background-image: url('../Rocky_Vector_Set/16px/controller-stop.png') !important;

}
.nav-tabs li.cool a{
    background-image: url('../Rocky_Vector_Set/16px/cool.png') !important;

}
.nav-tabs li.copy a{
    background-image: url('../Rocky_Vector_Set/16px/copy.png') !important;

}
.nav-tabs li.credit-card a{
    background-image: url('../Rocky_Vector_Set/16px/credit-card.png') !important;

}
.nav-tabs li.cursor a{
    background-image: url('../Rocky_Vector_Set/16px/cursor.png') !important;

}
.nav-tabs li.cut a{
    background-image: url('../Rocky_Vector_Set/16px/cut.png') !important;

}
.nav-tabs li.dashboard a{
    background-image: url('../Rocky_Vector_Set/16px/dashboard.png') !important;

}
.nav-tabs li.database a{
    background-image: url('../Rocky_Vector_Set/16px/database.png') !important;

}
.nav-tabs li.database-add a{
    background-image: url('../Rocky_Vector_Set/16px/database-add.png') !important;

}
.nav-tabs li.database-check a{
    background-image: url('../Rocky_Vector_Set/16px/database-check.png') !important;

}
.nav-tabs li.database-delete a{
    background-image: url('../Rocky_Vector_Set/16px/database-delete.png') !important;

}
.nav-tabs li.database-edit a{
    background-image: url('../Rocky_Vector_Set/16px/database-edit.png') !important;

}
.nav-tabs li.database-error a{
    background-image: url('../Rocky_Vector_Set/16px/database-error.png') !important;

}
.nav-tabs li.database-export a{
    background-image: url('../Rocky_Vector_Set/16px/database-export.png') !important;

}
.nav-tabs li.database-import a{
    background-image: url('../Rocky_Vector_Set/16px/database-import.png') !important;

}
.nav-tabs li.database-lock a{
    background-image: url('../Rocky_Vector_Set/16px/database-lock.png') !important;

}
.nav-tabs li.database-na a{
    background-image: url('../Rocky_Vector_Set/16px/database-na.png') !important;

}
.nav-tabs li.database-reload a{
    background-image: url('../Rocky_Vector_Set/16px/database-reload.png') !important;

}
.nav-tabs li.database-save a{
    background-image: url('../Rocky_Vector_Set/16px/database-save.png') !important;

}
.nav-tabs li.database-search a{
    background-image: url('../Rocky_Vector_Set/16px/database-search.png') !important;

}
.nav-tabs li.database-start a{
    background-image: url('../Rocky_Vector_Set/16px/database-start.png') !important;

}
.nav-tabs li.database-stop a{
    background-image: url('../Rocky_Vector_Set/16px/database-stop.png') !important;

}
.nav-tabs li.database-user a{
    background-image: url('../Rocky_Vector_Set/16px/database-user.png') !important;

}
.nav-tabs li.delete a{
    background-image: url('../Rocky_Vector_Set/16px/delete.png') !important;

}
.nav-tabs li.delivery-truck a{
    background-image: url('../Rocky_Vector_Set/16px/delivery-truck.png') !important;

}
.nav-tabs li.disconnect a{
    background-image: url('../Rocky_Vector_Set/16px/disconnect.png') !important;

}
.nav-tabs li.discussion a{
    background-image: url('../Rocky_Vector_Set/16px/discussion.png') !important;

}
.nav-tabs li.download a{
    background-image: url('../Rocky_Vector_Set/16px/download.png') !important;

}
.nav-tabs li.earth a{
    background-image: url('../Rocky_Vector_Set/16px/earth.png') !important;

}
.nav-tabs li.edit-disable a{
    background-image: url('../Rocky_Vector_Set/16px/edit-disable.png') !important;

}
.nav-tabs li.email a{
    background-image: url('../Rocky_Vector_Set/16px/email.png') !important;

}
.nav-tabs li.email-delete a{
    background-image: url('../Rocky_Vector_Set/16px/email-delete.png') !important;

}
.nav-tabs li.email-forward a{
    background-image: url('../Rocky_Vector_Set/16px/email-forward.png') !important;

}
.nav-tabs li.email-new a{
    background-image: url('../Rocky_Vector_Set/16px/email-new.png') !important;

}
.nav-tabs li.email-open a{
    background-image: url('../Rocky_Vector_Set/16px/email-open.png') !important;

}
.nav-tabs li.email-reply a{
    background-image: url('../Rocky_Vector_Set/16px/email-reply.png') !important;

}
.nav-tabs li.email-write a{
    background-image: url('../Rocky_Vector_Set/16px/email-write.png') !important;

}
.nav-tabs li.employee-id a{
    background-image: url('../Rocky_Vector_Set/16px/employee-id.png') !important;

}
.nav-tabs li.exchange a{
    background-image: url('../Rocky_Vector_Set/16px/exchange.png') !important;

}
.nav-tabs li.expand a{
    background-image: url('../Rocky_Vector_Set/16px/expand.png') !important;

}
.nav-tabs li.eye a{
    background-image: url('../Rocky_Vector_Set/16px/eye.png') !important;

}
.nav-tabs li.eyedropper a{
    background-image: url('../Rocky_Vector_Set/16px/eyedropper.png') !important;

}
.nav-tabs li.fan a{
    background-image: url('../Rocky_Vector_Set/16px/fan.png') !important;

}
.nav-tabs li.favorite a{
    background-image: url('../Rocky_Vector_Set/16px/favorite.png') !important;

}
.nav-tabs li.favorite-add a{
    background-image: url('../Rocky_Vector_Set/16px/favorite-add.png') !important;

}
.nav-tabs li.favorite-delete a{
    background-image: url('../Rocky_Vector_Set/16px/favorite-delete.png') !important;

}
.nav-tabs li.favorite-edit a{
    background-image: url('../Rocky_Vector_Set/16px/favorite-edit.png') !important;

}
.nav-tabs li.fever-chart a{
    background-image: url('../Rocky_Vector_Set/16px/fever-chart.png') !important;

}
.nav-tabs li.filter a{
    background-image: url('../Rocky_Vector_Set/16px/filter.png') !important;

}
.nav-tabs li.financial a{
    background-image: url('../Rocky_Vector_Set/16px/financial.png') !important;

}
.nav-tabs li.first-aid-box a{
    background-image: url('../Rocky_Vector_Set/16px/first-aid-box.png') !important;

}
.nav-tabs li.flag a{
    background-image: url('../Rocky_Vector_Set/16px/flag.png') !important;

}
.nav-tabs li.flash a{
    background-image: url('../Rocky_Vector_Set/16px/flash.png') !important;

}
.nav-tabs li.folder a{
    background-image: url('../Rocky_Vector_Set/16px/folder.png') !important;

}
.nav-tabs li.folder-add a{
    background-image: url('../Rocky_Vector_Set/16px/folder-add.png') !important;

}
.nav-tabs li.folder-delete a{
    background-image: url('../Rocky_Vector_Set/16px/folder-delete.png') !important;

}
.nav-tabs li.folder-edit a{
    background-image: url('../Rocky_Vector_Set/16px/folder-edit.png') !important;

}
.nav-tabs li.folder-search a{
    background-image: url('../Rocky_Vector_Set/16px/folder-search.png') !important;

}
.nav-tabs li.font-decrease a{
    background-image: url('../Rocky_Vector_Set/16px/font-decrease.png') !important;

}
.nav-tabs li.font-increase a{
    background-image: url('../Rocky_Vector_Set/16px/font-increase.png') !important;

}
.nav-tabs li.fullscreen a{
    background-image: url('../Rocky_Vector_Set/16px/fullscreen.png') !important;

}
.nav-tabs li.fullscreen-enter a{
    background-image: url('../Rocky_Vector_Set/16px/fullscreen-enter.png') !important;

}
.nav-tabs li.fullscreen-exit a{
    background-image: url('../Rocky_Vector_Set/16px/fullscreen-exit.png') !important;

}
.nav-tabs li.game-controller a{
    background-image: url('../Rocky_Vector_Set/16px/game-controller.png') !important;

}
.nav-tabs li.gift a{
    background-image: url('../Rocky_Vector_Set/16px/gift.png') !important;

}
.nav-tabs li.gift-card a{
    background-image: url('../Rocky_Vector_Set/16px/gift-card.png') !important;

}
.nav-tabs li.go-to-bottom a{
    background-image: url('../Rocky_Vector_Set/16px/go-to-bottom.png') !important;

}
.nav-tabs li.go-to-top a{
    background-image: url('../Rocky_Vector_Set/16px/go-to-top.png') !important;

}
.nav-tabs li.gym a{
    background-image: url('../Rocky_Vector_Set/16px/gym.png') !important;

}
.nav-tabs li.hammer a{
    background-image: url('../Rocky_Vector_Set/16px/hammer.png') !important;

}
.nav-tabs li.hand a{
    background-image: url('../Rocky_Vector_Set/16px/hand.png') !important;

}
.nav-tabs li.hand-pointer a{
    background-image: url('../Rocky_Vector_Set/16px/hand-pointer.png') !important;

}
.nav-tabs li.headphone a{
    background-image: url('../Rocky_Vector_Set/16px/headphone.png') !important;

}
.nav-tabs li.help a{
    background-image: url('../Rocky_Vector_Set/16px/help.png') !important;

}
.nav-tabs li.highlighter a{
    background-image: url('../Rocky_Vector_Set/16px/highlighter.png') !important;

}
.nav-tabs li.history a{
    background-image: url('../Rocky_Vector_Set/16px/history.png') !important;

}
.nav-tabs li.home a{
    background-image: url('../Rocky_Vector_Set/16px/home.png') !important;

}
.nav-tabs li.hot a{
    background-image: url('../Rocky_Vector_Set/16px/hot.png') !important;

}
.nav-tabs li.hourglass a{
    background-image: url('../Rocky_Vector_Set/16px/hourglass.png') !important;

}
.nav-tabs li.infinite a{
    background-image: url('../Rocky_Vector_Set/16px/infinite.png') !important;

}
.nav-tabs li.info a{
    background-image: url('../Rocky_Vector_Set/16px/info.png') !important;

}
.nav-tabs li.iphone a{
    background-image: url('../Rocky_Vector_Set/16px/iphone.png') !important;

}
.nav-tabs li.ipod a{
    background-image: url('../Rocky_Vector_Set/16px/ipod.png') !important;

}
.nav-tabs li.key a{
    background-image: url('../Rocky_Vector_Set/16px/key.png') !important;

}
.nav-tabs li.lab a{
    background-image: url('../Rocky_Vector_Set/16px/lab.png') !important;

}
.nav-tabs li.laptop a{
    background-image: url('../Rocky_Vector_Set/16px/laptop.png') !important;

}
.nav-tabs li.light-bulb a{
    background-image: url('../Rocky_Vector_Set/16px/light-bulb.png') !important;

}
ul.link li,
.nav-tabs li.link a{
    background-image: url('../Rocky_Vector_Set/16px/link.png') !important;

}
.nav-tabs li.location a{
    background-image: url('../Rocky_Vector_Set/16px/location.png') !important;

}
.nav-tabs li.location-pin a{
    background-image: url('../Rocky_Vector_Set/16px/location-pin.png') !important;

}
.nav-tabs li.lock a{
    background-image: url('../Rocky_Vector_Set/16px/lock.png') !important;

}
.nav-tabs li.login a{
    background-image: url('../Rocky_Vector_Set/16px/login.png') !important;

}
.nav-tabs li.logout a{
    background-image: url('../Rocky_Vector_Set/16px/logout.png') !important;

}
.nav-tabs li.luggage a{
    background-image: url('../Rocky_Vector_Set/16px/luggage.png') !important;

}
.nav-tabs li.magic-wand a{
    background-image: url('../Rocky_Vector_Set/16px/magic-wand.png') !important;

}
.nav-tabs li.mailbox a{
    background-image: url('../Rocky_Vector_Set/16px/mailbox.png') !important;

}
.nav-tabs li.mailbox-in a{
    background-image: url('../Rocky_Vector_Set/16px/mailbox-in.png') !important;

}
.nav-tabs li.mailbox-out a{
    background-image: url('../Rocky_Vector_Set/16px/mailbox-out.png') !important;

}
.nav-tabs li.martini-glass a{
    background-image: url('../Rocky_Vector_Set/16px/martini-glass.png') !important;

}
.nav-tabs li.merge a{
    background-image: url('../Rocky_Vector_Set/16px/merge.png') !important;

}
.nav-tabs li.microphone a{
    background-image: url('../Rocky_Vector_Set/16px/microphone.png') !important;

}
.nav-tabs li.minus a{
    background-image: url('../Rocky_Vector_Set/16px/minus.png') !important;

}
.nav-tabs li.monitor a{
    background-image: url('../Rocky_Vector_Set/16px/monitor.png') !important;

}
.nav-tabs li.mouse a{
    background-image: url('../Rocky_Vector_Set/16px/mouse.png') !important;

}
.nav-tabs li.move a{
    background-image: url('../Rocky_Vector_Set/16px/move.png') !important;

}
.nav-tabs li.museum a{
    background-image: url('../Rocky_Vector_Set/16px/museum.png') !important;

}
.nav-tabs li.music a{
    background-image: url('../Rocky_Vector_Set/16px/music.png') !important;

}
.nav-tabs li.network a{
    background-image: url('../Rocky_Vector_Set/16px/network.png') !important;

}
.nav-tabs li.newspaper a{
    background-image: url('../Rocky_Vector_Set/16px/newspaper.png') !important;

}
.nav-tabs li.notepad a{
    background-image: url('../Rocky_Vector_Set/16px/notepad.png') !important;

}
.nav-tabs li.office-chair a{
    background-image: url('../Rocky_Vector_Set/16px/office-chair.png') !important;

}
.nav-tabs li.orbit a{
    background-image: url('../Rocky_Vector_Set/16px/orbit.png') !important;

}
.nav-tabs li.package-box a{
    background-image: url('../Rocky_Vector_Set/16px/package-box.png') !important;

}
.nav-tabs li.page a{
    background-image: url('../Rocky_Vector_Set/16px/page.png') !important;

}
.nav-tabs li.page-add a{
    background-image: url('../Rocky_Vector_Set/16px/page-add.png') !important;

}
.nav-tabs li.page-check a{
    background-image: url('../Rocky_Vector_Set/16px/page-check.png') !important;

}
.nav-tabs li.page-delete a{
    background-image: url('../Rocky_Vector_Set/16px/page-delete.png') !important;

}
ul.page-edit li,
.nav-tabs li.page-edit a{
    background-image: url('../Rocky_Vector_Set/16px/page-edit.png') !important;

}
.nav-tabs li.page-error a{
    background-image: url('../Rocky_Vector_Set/16px/page-error.png') !important;

}
.nav-tabs li.page-lock a{
    background-image: url('../Rocky_Vector_Set/16px/page-lock.png') !important;

}
.nav-tabs li.page-new a{
    background-image: url('../Rocky_Vector_Set/16px/page-new.png') !important;

}
.nav-tabs li.page-not-found a{
    background-image: url('../Rocky_Vector_Set/16px/page-not-found.png') !important;

}
.nav-tabs li.page-save a{
    background-image: url('../Rocky_Vector_Set/16px/page-save.png') !important;

}
.nav-tabs li.page-search a{
    background-image: url('../Rocky_Vector_Set/16px/page-search.png') !important;

}
.nav-tabs li.page-user a{
    background-image: url('../Rocky_Vector_Set/16px/page-user.png') !important;

}
.nav-tabs li.paint-brush a{
    background-image: url('../Rocky_Vector_Set/16px/paint-brush.png') !important;

}
.nav-tabs li.paper-clip a{
    background-image: url('../Rocky_Vector_Set/16px/paper-clip.png') !important;

}
.nav-tabs li.paste a{
    background-image: url('../Rocky_Vector_Set/16px/paste.png') !important;

}
.nav-tabs li.pen a{
    background-image: url('../Rocky_Vector_Set/16px/pen.png') !important;

}
.nav-tabs li.pencil a{
    background-image: url('../Rocky_Vector_Set/16px/pencil.png') !important;

}
.nav-tabs li.phone a{
    background-image: url('../Rocky_Vector_Set/16px/phone.png') !important;

}
.nav-tabs li.phone-classic a{
    background-image: url('../Rocky_Vector_Set/16px/phone-classic.png') !important;

}
.nav-tabs li.phone-mobile a{
    background-image: url('../Rocky_Vector_Set/16px/phone-mobile.png') !important;

}
.nav-tabs li.picture a{
    background-image: url('../Rocky_Vector_Set/16px/picture.png') !important;

}
.nav-tabs li.pie-chart a{
    background-image: url('../Rocky_Vector_Set/16px/pie-chart.png') !important;

}
.nav-tabs li.pin a{
    background-image: url('../Rocky_Vector_Set/16px/pin.png') !important;

}
.nav-tabs li.plugin a{
    background-image: url('../Rocky_Vector_Set/16px/plugin.png') !important;

}
.nav-tabs li.podcast a{
    background-image: url('../Rocky_Vector_Set/16px/podcast.png') !important;

}
.nav-tabs li.power a{
    background-image: url('../Rocky_Vector_Set/16px/power.png') !important;

}
.nav-tabs li.presentation a{
    background-image: url('../Rocky_Vector_Set/16px/presentation.png') !important;

}
.nav-tabs li.print a{
    background-image: url('../Rocky_Vector_Set/16px/print.png') !important;

}
.nav-tabs li.puzzle a{
    background-image: url('../Rocky_Vector_Set/16px/puzzle.png') !important;

}
.nav-tabs li.quote a{
    background-image: url('../Rocky_Vector_Set/16px/quote.png') !important;

}
.nav-tabs li.radio a{
    background-image: url('../Rocky_Vector_Set/16px/radio.png') !important;

}
.nav-tabs li.recycle a{
    background-image: url('../Rocky_Vector_Set/16px/recycle.png') !important;

}
.nav-tabs li.redo a{
    background-image: url('../Rocky_Vector_Set/16px/redo.png') !important;

}
.nav-tabs li.reload a{
    background-image: url('../Rocky_Vector_Set/16px/reload.png') !important;

}
.nav-tabs li.remote-controller a{
    background-image: url('../Rocky_Vector_Set/16px/remote-controller.png') !important;

}
.nav-tabs li.repeat a{
    background-image: url('../Rocky_Vector_Set/16px/repeat.png') !important;

}
.nav-tabs li.replay a{
    background-image: url('../Rocky_Vector_Set/16px/replay.png') !important;

}
.nav-tabs li.restrict a{
    background-image: url('../Rocky_Vector_Set/16px/restrict.png') !important;

}
.nav-tabs li.rocket a{
    background-image: url('../Rocky_Vector_Set/16px/rocket.png') !important;

}
.nav-tabs li.rss a{
    background-image: url('../Rocky_Vector_Set/16px/rss.png') !important;

}
.nav-tabs li.satellite a{
    background-image: url('../Rocky_Vector_Set/16px/satellite.png') !important;

}
.nav-tabs li.save a{
    background-image: url('../Rocky_Vector_Set/16px/save.png') !important;

}
.nav-tabs li.script a{
    background-image: url('../Rocky_Vector_Set/16px/script.png') !important;

}
.nav-tabs li.search a{
    background-image: url('../Rocky_Vector_Set/16px/search.png') !important;

}
.nav-tabs li.security a{
    background-image: url('../Rocky_Vector_Set/16px/security.png') !important;

}
.nav-tabs li.setting a{
    background-image: url('../Rocky_Vector_Set/16px/setting.png') !important;

}
.nav-tabs li.share a{
    background-image: url('../Rocky_Vector_Set/16px/share.png') !important;

}
.nav-tabs li.shopping-bag a{
    background-image: url('../Rocky_Vector_Set/16px/shopping-bag.png') !important;

}
.nav-tabs li.shopping-basket a{
    background-image: url('../Rocky_Vector_Set/16px/shopping-basket.png') !important;

}
.nav-tabs li.shopping-cart a{
    background-image: url('../Rocky_Vector_Set/16px/shopping-cart.png') !important;

}
.nav-tabs li.shovel a{
    background-image: url('../Rocky_Vector_Set/16px/shovel.png') !important;

}
.nav-tabs li.shuffle a{
    background-image: url('../Rocky_Vector_Set/16px/shuffle.png') !important;

}
.nav-tabs li.shutter a{
    background-image: url('../Rocky_Vector_Set/16px/shutter.png') !important;

}
.nav-tabs li.sign a{
    background-image: url('../Rocky_Vector_Set/16px/sign.png') !important;

}
.nav-tabs li.sitemap a{
    background-image: url('../Rocky_Vector_Set/16px/sitemap.png') !important;

}
.nav-tabs li.slice a{
    background-image: url('../Rocky_Vector_Set/16px/slice.png') !important;

}
.nav-tabs li.sofa-chair a{
    background-image: url('../Rocky_Vector_Set/16px/sofa-chair.png') !important;

}
.nav-tabs li.split a{
    background-image: url('../Rocky_Vector_Set/16px/split.png') !important;

}
.nav-tabs li.sport a{
    background-image: url('../Rocky_Vector_Set/16px/sport.png') !important;

}
.nav-tabs li.sprayer a{
    background-image: url('../Rocky_Vector_Set/16px/sprayer.png') !important;

}
.nav-tabs li.star a{
    background-image: url('../Rocky_Vector_Set/16px/star.png') !important;

}
.nav-tabs li.stock-chart a{
    background-image: url('../Rocky_Vector_Set/16px/stock-chart.png') !important;

}
.nav-tabs li.stop a{
    background-image: url('../Rocky_Vector_Set/16px/stop.png') !important;

}
.nav-tabs li.zoom-in a{
    background-image: url('../Rocky_Vector_Set/16px/zoom-in.png') !important;

}
.nav-tabs li.zoom-out a{
    background-image: url('../Rocky_Vector_Set/16px/zoom-out.png') !important;

}
ul.tag li,
.nav-tabs li.tag a{
    background-image: url('../Rocky_Vector_Set/16px/tag.png') !important;

}
.nav-tabs li.tag-cloud a{
    background-image: url('../Rocky_Vector_Set/16px/tag-cloud.png') !important;

}
.nav-tabs li.thumb-down a{
    background-image: url('../Rocky_Vector_Set/16px/thumb-down.png') !important;

}
.nav-tabs li.thumb-up a{
    background-image: url('../Rocky_Vector_Set/16px/thumb-up.png') !important;

}
.nav-tabs li.ticket a{
    background-image: url('../Rocky_Vector_Set/16px/ticket.png') !important;

}
.nav-tabs li.timer a{
    background-image: url('../Rocky_Vector_Set/16px/timer.png') !important;

}
.nav-tabs li.tool a{
    background-image: url('../Rocky_Vector_Set/16px/tool.png') !important;

}
.nav-tabs li.tool-box a{
    background-image: url('../Rocky_Vector_Set/16px/tool-box.png') !important;

}
.nav-tabs li.train a{
    background-image: url('../Rocky_Vector_Set/16px/train.png') !important;

}
.nav-tabs li.trash a{
    background-image: url('../Rocky_Vector_Set/16px/trash.png') !important;

}
.nav-tabs li.trophy a{
    background-image: url('../Rocky_Vector_Set/16px/trophy.png') !important;

}
.nav-tabs li.tv a{
    background-image: url('../Rocky_Vector_Set/16px/tv.png') !important;

}
.nav-tabs li.umbella a{
    background-image: url('../Rocky_Vector_Set/16px/umbella.png') !important;

}
.nav-tabs li.undo a{
    background-image: url('../Rocky_Vector_Set/16px/undo.png') !important;

}
.nav-tabs li.unlock a{
    background-image: url('../Rocky_Vector_Set/16px/unlock.png') !important;

}
.nav-tabs li.upload a{
    background-image: url('../Rocky_Vector_Set/16px/upload.png') !important;

}
.nav-tabs li.usb a{
    background-image: url('../Rocky_Vector_Set/16px/usb.png') !important;

}
.nav-tabs li.user a{
    background-image: url('../Rocky_Vector_Set/16px/user.png') !important;

}
.nav-tabs li.user-add a{
    background-image: url('../Rocky_Vector_Set/16px/user-add.png') !important;

}
.nav-tabs li.user-comment a{
    background-image: url('../Rocky_Vector_Set/16px/user-comment.png') !important;

}
.nav-tabs li.user-delete a{
    background-image: url('../Rocky_Vector_Set/16px/user-delete.png') !important;

}
.nav-tabs li.user-disable a{
    background-image: url('../Rocky_Vector_Set/16px/user-disable.png') !important;

}
.nav-tabs li.user-edit a{
    background-image: url('../Rocky_Vector_Set/16px/user-edit.png') !important;

}
.nav-tabs li.user-group a{
    background-image: url('../Rocky_Vector_Set/16px/user-group.png') !important;

}
.nav-tabs li.walk a{
    background-image: url('../Rocky_Vector_Set/16px/walk.png') !important;

}
.nav-tabs li.wallet a{
    background-image: url('../Rocky_Vector_Set/16px/wallet.png') !important;

}
.nav-tabs li.weather a{
    background-image: url('../Rocky_Vector_Set/16px/weather.png') !important;

}
.nav-tabs li.web a{
    background-image: url('../Rocky_Vector_Set/16px/web.png') !important;

}
.nav-tabs li.webcam a{
    background-image: url('../Rocky_Vector_Set/16px/webcam.png') !important;

}
.nav-tabs li.video-camera a{
    background-image: url('../Rocky_Vector_Set/16px/video-camera.png') !important;

}
.nav-tabs li.video-clapper a{
    background-image: url('../Rocky_Vector_Set/16px/video-clapper.png') !important;

}
.nav-tabs li.video-film a{
    background-image: url('../Rocky_Vector_Set/16px/video-film.png') !important;

}
.nav-tabs li.video-reel a{
    background-image: url('../Rocky_Vector_Set/16px/video-reel.png') !important;

}
.nav-tabs li.wine-glass a{
    background-image: url('../Rocky_Vector_Set/16px/wine-glass.png') !important;

}
.nav-tabs li.wireless a{
    background-image: url('../Rocky_Vector_Set/16px/wireless.png') !important;

}
.nav-tabs li.voice-command a{
    background-image: url('../Rocky_Vector_Set/16px/voice-command.png') !important;

}
.nav-tabs li.voice-command-disable a{
    background-image: url('../Rocky_Vector_Set/16px/voice-command-disable.png') !important;

}
.nav-tabs li.volume-high a{
    background-image: url('../Rocky_Vector_Set/16px/volume-high.png') !important;

}
.nav-tabs li.volume-low a{
    background-image: url('../Rocky_Vector_Set/16px/volume-low.png') !important;

}
.nav-tabs li.volume-mute a{
    background-image: url('../Rocky_Vector_Set/16px/volume-mute.png') !important;

}
.nav-tabs li.write-note a{
    background-image: url('../Rocky_Vector_Set/16px/write-note.png') !important;
