.icon_64 .accessibility{
   background-image: url('../Rocky_Vector_Set/64px/accessibility.png');
}
.icon_64 .add{
   background-image: url('../Rocky_Vector_Set/64px/add.png');
}
.icon_64 .agenda{
   background-image: url('../Rocky_Vector_Set/64px/agenda.png');
}
.icon_64 .airplane{
   background-image: url('../Rocky_Vector_Set/64px/airplane.png');
}
.icon_64 .alarm{
   background-image: url('../Rocky_Vector_Set/64px/alarm.png');
}
.icon_64 .album{
   background-image: url('../Rocky_Vector_Set/64px/album.png');
}
.icon_64 .Alert{
   background-image: url('../Rocky_Vector_Set/64px/alert.png');
}
.icon_64 .announcement{
   background-image: url('../Rocky_Vector_Set/64px/announcement.png');
}
.icon_64 .archive{
   background-image: url('../Rocky_Vector_Set/64px/archive.png');
}
.icon_64 .arrow-down{
   background-image: url('../Rocky_Vector_Set/64px/arrow-down.png');
}
.icon_64 .arrow-left{
   background-image: url('../Rocky_Vector_Set/64px/arrow-left.png');
}
.icon_64 .arrow-right{
   background-image: url('../Rocky_Vector_Set/64px/arrow-right.png');
}
.icon_64 .arrow-up{
   background-image: url('../Rocky_Vector_Set/64px/arrow-up.png');
}
.icon_64 .art-brush{
   background-image: url('../Rocky_Vector_Set/64px/art-brush.png');
}
.icon_64 .auction{
   background-image: url('../Rocky_Vector_Set/64px/auction.png');
}
.icon_64 .award{
   background-image: url('../Rocky_Vector_Set/64px/award.png');
}
.icon_64 .battery-charge{
   background-image: url('../Rocky_Vector_Set/64px/battery-charge.png');
}
.icon_64 .battery-full{
   background-image: url('../Rocky_Vector_Set/64px/battery-full.png');
}
.icon_64 .battery-half{
   background-image: url('../Rocky_Vector_Set/64px/battery-half.png');
}
.icon_64 .battery-low{
   background-image: url('../Rocky_Vector_Set/64px/battery-low.png');
}
.icon_64 .bell{
   background-image: url('../Rocky_Vector_Set/64px/bell.png');
}
.icon_64 .bicycle{
   background-image: url('../Rocky_Vector_Set/64px/bicycle.png');
}
.icon_64 .blackberry{
   background-image: url('../Rocky_Vector_Set/64px/blackberry.png');
}
.icon_64 .bluetooth{
   background-image: url('../Rocky_Vector_Set/64px/bluetooth.png');
}
.icon_64 .boat{
   background-image: url('../Rocky_Vector_Set/64px/boat.png');
}
.icon_64 .book{
   background-image: url('../Rocky_Vector_Set/64px/book.png');
}
.icon_64 .bookmark{
   background-image: url('../Rocky_Vector_Set/64px/bookmark.png');
}
.icon_64 .briefcase{
   background-image: url('../Rocky_Vector_Set/64px/briefcase.png');
}
.icon_64 .brightness{
   background-image: url('../Rocky_Vector_Set/64px/brightness.png');
}
.icon_64 .bug{
   background-image: url('../Rocky_Vector_Set/64px/bug.png');
}
.icon_64 .bus{
   background-image: url('../Rocky_Vector_Set/64px/bus.png');
}
.icon_64 .calculator{
   background-image: url('../Rocky_Vector_Set/64px/calculator.png');
}
.icon_64 .calendar{
   background-image: url('../Rocky_Vector_Set/64px/calendar.png');
}
.icon_64 .calendar-add{
   background-image: url('../Rocky_Vector_Set/64px/calendar-add.png');
}
.icon_64 .calendar-delete{
   background-image: url('../Rocky_Vector_Set/64px/calendar-delete.png');
}
.icon_64 .calendar-edit{
   background-image: url('../Rocky_Vector_Set/64px/calendar-edit.png');
}
.icon_64 .calendar-na{
   background-image: url('../Rocky_Vector_Set/64px/calendar-na.png');
}
.icon_64 .calendar-time{
   background-image: url('../Rocky_Vector_Set/64px/calendar-time.png');
}
.icon_64 .camera{
   background-image: url('../Rocky_Vector_Set/64px/camera.png');
}
.icon_64 .car{
   background-image: url('../Rocky_Vector_Set/64px/car.png');
}
.icon_64 .cd{
   background-image: url('../Rocky_Vector_Set/64px/cd.png');
}
.icon_64 .chart{
   background-image: url('../Rocky_Vector_Set/64px/chart.png');
}
.icon_64 .check{
   background-image: url('../Rocky_Vector_Set/64px/check.png');
}
.icon_64 .check-box{
   background-image: url('../Rocky_Vector_Set/64px/check-box.png');
}
.icon_64 .clipboard{
   background-image: url('../Rocky_Vector_Set/64px/clipboard.png');
}
.icon_64 .clock{
   background-image: url('../Rocky_Vector_Set/64px/clock.png');
}
.icon_64 .coffee-cup{
   background-image: url('../Rocky_Vector_Set/64px/coffee-cup.png');
}
.icon_64 .coffee-mug{
   background-image: url('../Rocky_Vector_Set/64px/coffee-mug.png');
}
.icon_64 .collapse{
   background-image: url('../Rocky_Vector_Set/64px/collapse.png');
}
.icon_64 .comment{
   background-image: url('../Rocky_Vector_Set/64px/comment.png');
}
.icon_64 .comment-add{
   background-image: url('../Rocky_Vector_Set/64px/comment-add.png');
}
.icon_64 .comment-check{
   background-image: url('../Rocky_Vector_Set/64px/comment-check.png');
}
.icon_64 .comment-delete{
   background-image: url('../Rocky_Vector_Set/64px/comment-delete.png');
}
.icon_64 .comment-disable{
   background-image: url('../Rocky_Vector_Set/64px/comment-disable.png');
}
.icon_64 .comment-write{
   background-image: url('../Rocky_Vector_Set/64px/comment-write.png');
}
.icon_64 .compass{
   background-image: url('../Rocky_Vector_Set/64px/compass.png');
}
.icon_64 .connect{
   background-image: url('../Rocky_Vector_Set/64px/connect.png');
}
.icon_64 .connection-signal{
   background-image: url('../Rocky_Vector_Set/64px/connection-signal.png');
}
.icon_64 .construction{
   background-image: url('../Rocky_Vector_Set/64px/construction.png');
}
.icon_64 .construction-hat{
   background-image: url('../Rocky_Vector_Set/64px/construction-hat.png');
}
.icon_64 .contact-book{
   background-image: url('../Rocky_Vector_Set/64px/contact-book.png');
}
.icon_64 .contact-card{
   background-image: url('../Rocky_Vector_Set/64px/contact-card.png');
}
.icon_64 .contrast{
   background-image: url('../Rocky_Vector_Set/64px/contrast.png');
}
.icon_64 .controller-eject{
   background-image: url('../Rocky_Vector_Set/64px/controller-eject.png');
}
.icon_64 .controller-forward{
   background-image: url('../Rocky_Vector_Set/64px/controller-forward.png');
}
.icon_64 .controller-next{
   background-image: url('../Rocky_Vector_Set/64px/controller-next.png');
}
.icon_64 .controller-pause{
   background-image: url('../Rocky_Vector_Set/64px/controller-pause.png');
}
.icon_64 .controller-play{
   background-image: url('../Rocky_Vector_Set/64px/controller-play.png');
}
.icon_64 .controller-previous{
   background-image: url('../Rocky_Vector_Set/64px/controller-previous.png');
}
.icon_64 .controller-record{
   background-image: url('../Rocky_Vector_Set/64px/controller-record.png');
}
.icon_64 .controller-rewind{
   background-image: url('../Rocky_Vector_Set/64px/controller-rewind.png');
}
.icon_64 .controller-stop{
   background-image: url('../Rocky_Vector_Set/64px/controller-stop.png');
}
.icon_64 .cool{
   background-image: url('../Rocky_Vector_Set/64px/cool.png');
}
.icon_64 .copy{
   background-image: url('../Rocky_Vector_Set/64px/copy.png');
}
.icon_64 .credit-card{
   background-image: url('../Rocky_Vector_Set/64px/credit-card.png');
}
.icon_64 .cursor{
   background-image: url('../Rocky_Vector_Set/64px/cursor.png');
}
.icon_64 .cut{
   background-image: url('../Rocky_Vector_Set/64px/cut.png');
}
.icon_64 .dashboard{
   background-image: url('../Rocky_Vector_Set/64px/dashboard.png');
}
.icon_64 .database{
   background-image: url('../Rocky_Vector_Set/64px/database.png');
}
.icon_64 .database-add{
   background-image: url('../Rocky_Vector_Set/64px/database-add.png');
}
.icon_64 .database-check{
   background-image: url('../Rocky_Vector_Set/64px/database-check.png');
}
.icon_64 .database-delete{
   background-image: url('../Rocky_Vector_Set/64px/database-delete.png');
}
.icon_64 .database-edit{
   background-image: url('../Rocky_Vector_Set/64px/database-edit.png');
}
.icon_64 .database-error{
   background-image: url('../Rocky_Vector_Set/64px/database-error.png');
}
.icon_64 .database-export{
   background-image: url('../Rocky_Vector_Set/64px/database-export.png');
}
.icon_64 .database-import{
   background-image: url('../Rocky_Vector_Set/64px/database-import.png');
}
.icon_64 .database-lock{
   background-image: url('../Rocky_Vector_Set/64px/database-lock.png');
}
.icon_64 .database-na{
   background-image: url('../Rocky_Vector_Set/64px/database-na.png');
}
.icon_64 .database-reload{
   background-image: url('../Rocky_Vector_Set/64px/database-reload.png');
}
.icon_64 .database-save{
   background-image: url('../Rocky_Vector_Set/64px/database-save.png');
}
.icon_64 .database-search{
   background-image: url('../Rocky_Vector_Set/64px/database-search.png');
}
.icon_64 .database-start{
   background-image: url('../Rocky_Vector_Set/64px/database-start.png');
}
.icon_64 .database-stop{
   background-image: url('../Rocky_Vector_Set/64px/database-stop.png');
}
.icon_64 .database-user{
   background-image: url('../Rocky_Vector_Set/64px/database-user.png');
}
.icon_64 .delete{
   background-image: url('../Rocky_Vector_Set/64px/delete.png');
}
.icon_64 .delivery-truck{
   background-image: url('../Rocky_Vector_Set/64px/delivery-truck.png');
}
.icon_64 .disconnect{
   background-image: url('../Rocky_Vector_Set/64px/disconnect.png');
}
.icon_64 .discussion{
   background-image: url('../Rocky_Vector_Set/64px/discussion.png');
}
.icon_64 .download{
   background-image: url('../Rocky_Vector_Set/64px/download.png');
}
.icon_64 .earth{
   background-image: url('../Rocky_Vector_Set/64px/earth.png');
}
.icon_64 .edit-disable{
   background-image: url('../Rocky_Vector_Set/64px/edit-disable.png');
}
.icon_64 .email{
   background-image: url('../Rocky_Vector_Set/64px/email.png');
}
.icon_64 .email-delete{
   background-image: url('../Rocky_Vector_Set/64px/email-delete.png');
}
.icon_64 .email-forward{
   background-image: url('../Rocky_Vector_Set/64px/email-forward.png');
}
.icon_64 .email-new{
   background-image: url('../Rocky_Vector_Set/64px/email-new.png');
}
.icon_64 .email-open{
   background-image: url('../Rocky_Vector_Set/64px/email-open.png');
}
.icon_64 .email-reply{
   background-image: url('../Rocky_Vector_Set/64px/email-reply.png');
}
.icon_64 .email-write{
   background-image: url('../Rocky_Vector_Set/64px/email-write.png');
}
.icon_64 .employee-id{
   background-image: url('../Rocky_Vector_Set/64px/employee-id.png');
}
.icon_64 .exchange{
   background-image: url('../Rocky_Vector_Set/64px/exchange.png');
}
.icon_64 .expand{
   background-image: url('../Rocky_Vector_Set/64px/expand.png');
}
.icon_64 .eye{
   background-image: url('../Rocky_Vector_Set/64px/eye.png');
}
.icon_64 .eyedropper{
   background-image: url('../Rocky_Vector_Set/64px/eyedropper.png');
}
.icon_64 .fan{
   background-image: url('../Rocky_Vector_Set/64px/fan.png');
}
.icon_64 .favorite{
   background-image: url('../Rocky_Vector_Set/64px/favorite.png');
}
.icon_64 .favorite-add{
   background-image: url('../Rocky_Vector_Set/64px/favorite-add.png');
}
.icon_64 .favorite-delete{
   background-image: url('../Rocky_Vector_Set/64px/favorite-delete.png');
}
.icon_64 .favorite-edit{
   background-image: url('../Rocky_Vector_Set/64px/favorite-edit.png');
}
.icon_64 .fever-chart{
   background-image: url('../Rocky_Vector_Set/64px/fever-chart.png');
}
.icon_64 .filter{
   background-image: url('../Rocky_Vector_Set/64px/filter.png');
}
.icon_64 .financial{
   background-image: url('../Rocky_Vector_Set/64px/financial.png');
}
.icon_64 .first-aid-box{
   background-image: url('../Rocky_Vector_Set/64px/first-aid-box.png');
}
.icon_64 .flag{
   background-image: url('../Rocky_Vector_Set/64px/flag.png');
}
.icon_64 .flash{
   background-image: url('../Rocky_Vector_Set/64px/flash.png');
}
.icon_64 .folder{
   background-image: url('../Rocky_Vector_Set/64px/folder.png');
}
.icon_64 .folder-add{
   background-image: url('../Rocky_Vector_Set/64px/folder-add.png');
}
.icon_64 .folder-delete{
   background-image: url('../Rocky_Vector_Set/64px/folder-delete.png');
}
.icon_64 .folder-edit{
   background-image: url('../Rocky_Vector_Set/64px/folder-edit.png');
}
.icon_64 .folder-search{
   background-image: url('../Rocky_Vector_Set/64px/folder-search.png');
}
.icon_64 .font-decrease{
   background-image: url('../Rocky_Vector_Set/64px/font-decrease.png');
}
.icon_64 .font-increase{
   background-image: url('../Rocky_Vector_Set/64px/font-increase.png');
}
.icon_64 .fullscreen{
   background-image: url('../Rocky_Vector_Set/64px/fullscreen.png');
}
.icon_64 .fullscreen-enter{
   background-image: url('../Rocky_Vector_Set/64px/fullscreen-enter.png');
}
.icon_64 .fullscreen-exit{
   background-image: url('../Rocky_Vector_Set/64px/fullscreen-exit.png');
}
.icon_64 .game-controller{
   background-image: url('../Rocky_Vector_Set/64px/game-controller.png');
}
.icon_64 .gift{
   background-image: url('../Rocky_Vector_Set/64px/gift.png');
}
.icon_64 .gift-card{
   background-image: url('../Rocky_Vector_Set/64px/gift-card.png');
}
.icon_64 .go-to-bottom{
   background-image: url('../Rocky_Vector_Set/64px/go-to-bottom.png');
}
.icon_64 .go-to-top{
   background-image: url('../Rocky_Vector_Set/64px/go-to-top.png');
}
.icon_64 .gym{
   background-image: url('../Rocky_Vector_Set/64px/gym.png');
}
.icon_64 .hammer{
   background-image: url('../Rocky_Vector_Set/64px/hammer.png');
}
.icon_64 .hand{
   background-image: url('../Rocky_Vector_Set/64px/hand.png');
}
.icon_64 .hand-pointer{
   background-image: url('../Rocky_Vector_Set/64px/hand-pointer.png');
}
.icon_64 .headphone{
   background-image: url('../Rocky_Vector_Set/64px/headphone.png');
}
.icon_64 .help{
   background-image: url('../Rocky_Vector_Set/64px/help.png');
}
.icon_64 .highlighter{
   background-image: url('../Rocky_Vector_Set/64px/highlighter.png');
}
.icon_64 .history{
   background-image: url('../Rocky_Vector_Set/64px/history.png');
}
.icon_64 .home{
   background-image: url('../Rocky_Vector_Set/64px/home.png');
}
.icon_64 .hot{
   background-image: url('../Rocky_Vector_Set/64px/hot.png');
}
.icon_64 .hourglass{
   background-image: url('../Rocky_Vector_Set/64px/hourglass.png');
}
.icon_64 .infinite{
   background-image: url('../Rocky_Vector_Set/64px/infinite.png');
}
.icon_64 .info{
   background-image: url('../Rocky_Vector_Set/64px/info.png');
}
.icon_64 .iphone{
   background-image: url('../Rocky_Vector_Set/64px/iphone.png');
}
.icon_64 .ipod{
   background-image: url('../Rocky_Vector_Set/64px/ipod.png');
}
.icon_64 .key{
   background-image: url('../Rocky_Vector_Set/64px/key.png');
}
.icon_64 .lab{
   background-image: url('../Rocky_Vector_Set/64px/lab.png');
}
.icon_64 .laptop{
   background-image: url('../Rocky_Vector_Set/64px/laptop.png');
}
.icon_64 .light-bulb{
   background-image: url('../Rocky_Vector_Set/64px/light-bulb.png');
}
.icon_64 .link{
   background-image: url('../Rocky_Vector_Set/64px/link.png');
}
.icon_64 .location{
   background-image: url('../Rocky_Vector_Set/64px/location.png');
}
.icon_64 .location-pin{
   background-image: url('../Rocky_Vector_Set/64px/location-pin.png');
}
.icon_64 .lock{
   background-image: url('../Rocky_Vector_Set/64px/lock.png');
}
.icon_64 .login{
   background-image: url('../Rocky_Vector_Set/64px/login.png');
}
.icon_64 .logout{
   background-image: url('../Rocky_Vector_Set/64px/logout.png');
}
.icon_64 .luggage{
   background-image: url('../Rocky_Vector_Set/64px/luggage.png');
}
.icon_64 .magic-wand{
   background-image: url('../Rocky_Vector_Set/64px/magic-wand.png');
}
.icon_64 .mailbox{
   background-image: url('../Rocky_Vector_Set/64px/mailbox.png');
}
.icon_64 .mailbox-in{
   background-image: url('../Rocky_Vector_Set/64px/mailbox-in.png');
}
.icon_64 .mailbox-out{
   background-image: url('../Rocky_Vector_Set/64px/mailbox-out.png');
}
.icon_64 .martini-glass{
   background-image: url('../Rocky_Vector_Set/64px/martini-glass.png');
}
.icon_64 .merge{
   background-image: url('../Rocky_Vector_Set/64px/merge.png');
}
.icon_64 .microphone{
   background-image: url('../Rocky_Vector_Set/64px/microphone.png');
}
.icon_64 .minus{
   background-image: url('../Rocky_Vector_Set/64px/minus.png');
}
.icon_64 .monitor{
   background-image: url('../Rocky_Vector_Set/64px/monitor.png');
}
.icon_64 .mouse{
   background-image: url('../Rocky_Vector_Set/64px/mouse.png');
}
.icon_64 .move{
   background-image: url('../Rocky_Vector_Set/64px/move.png');
}
.icon_64 .museum{
   background-image: url('../Rocky_Vector_Set/64px/museum.png');
}
.icon_64 .music{
   background-image: url('../Rocky_Vector_Set/64px/music.png');
}
.icon_64 .network{
   background-image: url('../Rocky_Vector_Set/64px/network.png');
}
.icon_64 .newspaper{
   background-image: url('../Rocky_Vector_Set/64px/newspaper.png');
}
.icon_64 .notepad{
   background-image: url('../Rocky_Vector_Set/64px/notepad.png');
}
.icon_64 .office-chair{
   background-image: url('../Rocky_Vector_Set/64px/office-chair.png');
}
.icon_64 .orbit{
   background-image: url('../Rocky_Vector_Set/64px/orbit.png');
}
.icon_64 .package-box{
   background-image: url('../Rocky_Vector_Set/64px/package-box.png');
}
.icon_64 .page{
   background-image: url('../Rocky_Vector_Set/64px/page.png');
}
.icon_64 .page-add{
   background-image: url('../Rocky_Vector_Set/64px/page-add.png');
}
.icon_64 .page-check{
   background-image: url('../Rocky_Vector_Set/64px/page-check.png');
}
.icon_64 .page-delete{
   background-image: url('../Rocky_Vector_Set/64px/page-delete.png');
}
.icon_64 .page-edit{
   background-image: url('../Rocky_Vector_Set/64px/page-edit.png');
}
.icon_64 .page-error{
   background-image: url('../Rocky_Vector_Set/64px/page-error.png');
}
.icon_64 .page-lock{
   background-image: url('../Rocky_Vector_Set/64px/page-lock.png');
}
.icon_64 .page-new{
   background-image: url('../Rocky_Vector_Set/64px/page-new.png');
}
.icon_64 .page-not-found{
   background-image: url('../Rocky_Vector_Set/64px/page-not-found.png');
}
.icon_64 .page-save{
   background-image: url('../Rocky_Vector_Set/64px/page-save.png');
}
.icon_64 .page-search{
   background-image: url('../Rocky_Vector_Set/64px/page-search.png');
}
.icon_64 .page-user{
   background-image: url('../Rocky_Vector_Set/64px/page-user.png');
}
.icon_64 .paint-brush{
   background-image: url('../Rocky_Vector_Set/64px/paint-brush.png');
}
.icon_64 .paper-clip{
   background-image: url('../Rocky_Vector_Set/64px/paper-clip.png');
}
.icon_64 .paste{
   background-image: url('../Rocky_Vector_Set/64px/paste.png');
}
.icon_64 .pen{
   background-image: url('../Rocky_Vector_Set/64px/pen.png');
}
.icon_64 .pencil{
   background-image: url('../Rocky_Vector_Set/64px/pencil.png');
}
.icon_64 .phone{
   background-image: url('../Rocky_Vector_Set/64px/phone.png');
}
.icon_64 .phone-classic{
   background-image: url('../Rocky_Vector_Set/64px/phone-classic.png');
}
.icon_64 .phone-mobile{
   background-image: url('../Rocky_Vector_Set/64px/phone-mobile.png');
}
.icon_64 .picture{
   background-image: url('../Rocky_Vector_Set/64px/picture.png');
}
.icon_64 .pie-chart{
   background-image: url('../Rocky_Vector_Set/64px/pie-chart.png');
}
.icon_64 .pin{
   background-image: url('../Rocky_Vector_Set/64px/pin.png');
}
.icon_64 .plugin{
   background-image: url('../Rocky_Vector_Set/64px/plugin.png');
}
.icon_64 .podcast{
   background-image: url('../Rocky_Vector_Set/64px/podcast.png');
}
.icon_64 .power{
   background-image: url('../Rocky_Vector_Set/64px/power.png');
}
.icon_64 .presentation{
   background-image: url('../Rocky_Vector_Set/64px/presentation.png');
}
.icon_64 .print{
   background-image: url('../Rocky_Vector_Set/64px/print.png');
}
.icon_64 .puzzle{
   background-image: url('../Rocky_Vector_Set/64px/puzzle.png');
}
.icon_64 .quote{
   background-image: url('../Rocky_Vector_Set/64px/quote.png');
}
.icon_64 .radio{
   background-image: url('../Rocky_Vector_Set/64px/radio.png');
}
.icon_64 .recycle{
   background-image: url('../Rocky_Vector_Set/64px/recycle.png');
}
.icon_64 .redo{
   background-image: url('../Rocky_Vector_Set/64px/redo.png');
}
.icon_64 .reload{
   background-image: url('../Rocky_Vector_Set/64px/reload.png');
}
.icon_64 .remote-control{
   background-image: url('../Rocky_Vector_Set/64px/remote-control.png');
}
.icon_64 .repeat{
   background-image: url('../Rocky_Vector_Set/64px/repeat.png');
}
.icon_64 .replay{
   background-image: url('../Rocky_Vector_Set/64px/replay.png');
}
.icon_64 .restrict{
   background-image: url('../Rocky_Vector_Set/64px/restrict.png');
}
.icon_64 .rocket{
   background-image: url('../Rocky_Vector_Set/64px/rocket.png');
}
.icon_64 .rss{
   background-image: url('../Rocky_Vector_Set/64px/rss.png');
}
.icon_64 .satellite{
   background-image: url('../Rocky_Vector_Set/64px/satellite.png');
}
.icon_64 .save{
   background-image: url('../Rocky_Vector_Set/64px/save.png');
}
.icon_64 .script{
   background-image: url('../Rocky_Vector_Set/64px/script.png');
}
.icon_64 .search{
   background-image: url('../Rocky_Vector_Set/64px/search.png');
}
.icon_64 .security{
   background-image: url('../Rocky_Vector_Set/64px/security.png');
}
.icon_64 .setting{
   background-image: url('../Rocky_Vector_Set/64px/setting.png');
}
.icon_64 .share{
   background-image: url('../Rocky_Vector_Set/64px/share.png');
}
.icon_64 .shopping-bag{
   background-image: url('../Rocky_Vector_Set/64px/shopping-bag.png');
}
.icon_64 .shopping-basket{
   background-image: url('../Rocky_Vector_Set/64px/shopping-basket.png');
}
.icon_64 .shopping-cart{
   background-image: url('../Rocky_Vector_Set/64px/shopping-cart.png');
}
.icon_64 .shovel{
   background-image: url('../Rocky_Vector_Set/64px/shovel.png');
}
.icon_64 .shuffle{
   background-image: url('../Rocky_Vector_Set/64px/shuffle.png');
}
.icon_64 .shutter{
   background-image: url('../Rocky_Vector_Set/64px/shutter.png');
}
.icon_64 .sign{
   background-image: url('../Rocky_Vector_Set/64px/sign.png');
}
.icon_64 .sitemap{
   background-image: url('../Rocky_Vector_Set/64px/sitemap.png');
}
.icon_64 .slice{
   background-image: url('../Rocky_Vector_Set/64px/slice.png');
}
.icon_64 .sofa-chair{
   background-image: url('../Rocky_Vector_Set/64px/sofa-chair.png');
}
.icon_64 .split{
   background-image: url('../Rocky_Vector_Set/64px/split.png');
}
.icon_64 .sport{
   background-image: url('../Rocky_Vector_Set/64px/sport.png');
}
.icon_64 .sprayer{
   background-image: url('../Rocky_Vector_Set/64px/sprayer.png');
}
.icon_64 .star{
   background-image: url('../Rocky_Vector_Set/64px/star.png');
}
.icon_64 .stock-chart{
   background-image: url('../Rocky_Vector_Set/64px/stock-chart.png');
}
.icon_64 .stop{
   background-image: url('../Rocky_Vector_Set/64px/stop.png');
}
.icon_64 .zoom-in{
   background-image: url('../Rocky_Vector_Set/64px/zoom-in.png');
}
.icon_64 .zoom-out{
   background-image: url('../Rocky_Vector_Set/64px/zoom-out.png');
}
.icon_64 .tag{
   background-image: url('../Rocky_Vector_Set/64px/tag.png');
}
.icon_64 .tag-cloud{
   background-image: url('../Rocky_Vector_Set/64px/tag-cloud.png');
}
.icon_64 .thumb-down{
   background-image: url('../Rocky_Vector_Set/64px/thumb-down.png');
}
.icon_64 .thumb-up{
   background-image: url('../Rocky_Vector_Set/64px/thumb-up.png');
}
.icon_64 .ticket{
   background-image: url('../Rocky_Vector_Set/64px/ticket.png');
}
.icon_64 .timer{
   background-image: url('../Rocky_Vector_Set/64px/timer.png');
}
.icon_64 .tool{
   background-image: url('../Rocky_Vector_Set/64px/tool.png');
}
.icon_64 .tool-box{
   background-image: url('../Rocky_Vector_Set/64px/tool-box.png');
}
.icon_64 .train{
   background-image: url('../Rocky_Vector_Set/64px/train.png');
}
.icon_64 .trash{
   background-image: url('../Rocky_Vector_Set/64px/trash.png');
}
.icon_64 .trophy{
   background-image: url('../Rocky_Vector_Set/64px/trophy.png');
}
.icon_64 .tv{
   background-image: url('../Rocky_Vector_Set/64px/tv.png');
}
.icon_64 .umbella{
   background-image: url('../Rocky_Vector_Set/64px/umbella.png');
}
.icon_64 .undo{
   background-image: url('../Rocky_Vector_Set/64px/undo.png');
}
.icon_64 .unlock{
   background-image: url('../Rocky_Vector_Set/64px/unlock.png');
}
.icon_64 .upload{
   background-image: url('../Rocky_Vector_Set/64px/upload.png');
}
.icon_64 .usb{
   background-image: url('../Rocky_Vector_Set/64px/usb.png');
}
.icon_64 .user{
   background-image: url('../Rocky_Vector_Set/64px/user.png');
}
.icon_64 .user-add{
   background-image: url('../Rocky_Vector_Set/64px/user-add.png');
}
.icon_64 .user-comment{
   background-image: url('../Rocky_Vector_Set/64px/user-comment.png');
}
.icon_64 .user-delete{
   background-image: url('../Rocky_Vector_Set/64px/user-delete.png');
}
.icon_64 .user-disable{
   background-image: url('../Rocky_Vector_Set/64px/user-disable.png');
}
.icon_64 .user-edit{
   background-image: url('../Rocky_Vector_Set/64px/user-edit.png');
}
.icon_64 .user-group{
   background-image: url('../Rocky_Vector_Set/64px/user-group.png');
}
.icon_64 .walk{
   background-image: url('../Rocky_Vector_Set/64px/walk.png');
}
.icon_64 .wallet{
   background-image: url('../Rocky_Vector_Set/64px/wallet.png');
}
.icon_64 .weather{
   background-image: url('../Rocky_Vector_Set/64px/weather.png');
}
.icon_64 .web{
   background-image: url('../Rocky_Vector_Set/64px/web.png');
}
.icon_64 .webcam{
   background-image: url('../Rocky_Vector_Set/64px/webcam.png');
}
.icon_64 .video-camera{
   background-image: url('../Rocky_Vector_Set/64px/video-camera.png');
}
.icon_64 .video-clapper{
   background-image: url('../Rocky_Vector_Set/64px/video-clapper.png');
}
.icon_64 .video-film{
   background-image: url('../Rocky_Vector_Set/64px/video-film.png');
}
.icon_64 .video-reel{
   background-image: url('../Rocky_Vector_Set/64px/video-reel.png');
}
.icon_64 .wine-glass{
   background-image: url('../Rocky_Vector_Set/64px/wine-glass.png');
}
.icon_64 .wireless{
   background-image: url('../Rocky_Vector_Set/64px/wireless.png');
}
.icon_64 .voice-command{
   background-image: url('../Rocky_Vector_Set/64px/voice-command.png');
}
.icon_64 .voice-command-disable{
   background-image: url('../Rocky_Vector_Set/64px/voice-command-disable.png');
}
.icon_64 .volume-high{
   background-image: url('../Rocky_Vector_Set/64px/volume-high.png');
}
.icon_64 .volume-low{
   background-image: url('../Rocky_Vector_Set/64px/volume-low.png');
}
.icon_64 .volume-mute{
   background-image: url('../Rocky_Vector_Set/64px/volume-mute.png');
}
.icon_64 .write-note{
   background-image: url('../Rocky_Vector_Set/64px/write-note.png');
}
.icon_32 .accessibility{
   background-image: url('../Rocky_Vector_Set/32px/accessibility.png');
}
.icon_32 .add{
   background-image: url('../Rocky_Vector_Set/32px/add.png');
}
.icon_32 .agenda{
   background-image: url('../Rocky_Vector_Set/32px/agenda.png');
}
.icon_32 .airplane{
   background-image: url('../Rocky_Vector_Set/32px/airplane.png');
}
.icon_32 .alarm{
   background-image: url('../Rocky_Vector_Set/32px/alarm.png');
}
.icon_32 .album{
   background-image: url('../Rocky_Vector_Set/32px/album.png');
}
.icon_32 .Alert{
   background-image: url('../Rocky_Vector_Set/32px/alert.png');
}
.icon_32 .announcement{
   background-image: url('../Rocky_Vector_Set/32px/announcement.png');
}
.icon_32 .archive{
   background-image: url('../Rocky_Vector_Set/32px/archive.png');
}
.icon_32 .arrow-down{
   background-image: url('../Rocky_Vector_Set/32px/arrow-down.png');
}
.icon_32 .arrow-left{
   background-image: url('../Rocky_Vector_Set/32px/arrow-left.png');
}
.icon_32 .arrow-right{
   background-image: url('../Rocky_Vector_Set/32px/arrow-right.png');
}
.icon_32 .arrow-up{
   background-image: url('../Rocky_Vector_Set/32px/arrow-up.png');
}
.icon_32 .art-brush{
   background-image: url('../Rocky_Vector_Set/32px/art-brush.png');
}
.icon_32 .auction{
   background-image: url('../Rocky_Vector_Set/32px/auction.png');
}
.icon_32 .award{
   background-image: url('../Rocky_Vector_Set/32px/award.png');
}
.icon_32 .battery-charge{
   background-image: url('../Rocky_Vector_Set/32px/battery-charge.png');
}
.icon_32 .battery-full{
   background-image: url('../Rocky_Vector_Set/32px/battery-full.png');
}
.icon_32 .battery-half{
   background-image: url('../Rocky_Vector_Set/32px/battery-half.png');
}
.icon_32 .battery-low{
   background-image: url('../Rocky_Vector_Set/32px/battery-low.png');
}
.icon_32 .bell{
   background-image: url('../Rocky_Vector_Set/32px/bell.png');
}
.icon_32 .bicycle{
   background-image: url('../Rocky_Vector_Set/32px/bicycle.png');
}
.icon_32 .blackberry{
   background-image: url('../Rocky_Vector_Set/32px/blackberry.png');
}
.icon_32 .bluetooth{
   background-image: url('../Rocky_Vector_Set/32px/bluetooth.png');
}
.icon_32 .boat{
   background-image: url('../Rocky_Vector_Set/32px/boat.png');
}
.icon_32 .book{
   background-image: url('../Rocky_Vector_Set/32px/book.png');
}
.icon_32 .bookmark{
   background-image: url('../Rocky_Vector_Set/32px/bookmark.png');
}
.icon_32 .briefcase{
   background-image: url('../Rocky_Vector_Set/32px/briefcase.png');
}
.icon_32 .brightness{
   background-image: url('../Rocky_Vector_Set/32px/brightness.png');
}
.icon_32 .bug{
   background-image: url('../Rocky_Vector_Set/32px/bug.png');
}
.icon_32 .bus{
   background-image: url('../Rocky_Vector_Set/32px/bus.png');
}
.icon_32 .calculator{
   background-image: url('../Rocky_Vector_Set/32px/calculator.png');
}
.icon_32 .calendar{
   background-image: url('../Rocky_Vector_Set/32px/calendar.png');
}
.icon_32 .calendar-add{
   background-image: url('../Rocky_Vector_Set/32px/calendar-add.png');
}
.icon_32 .calendar-delete{
   background-image: url('../Rocky_Vector_Set/32px/calendar-delete.png');
}
.icon_32 .calendar-edit{
   background-image: url('../Rocky_Vector_Set/32px/calendar-edit.png');
}
.icon_32 .calendar-na{
   background-image: url('../Rocky_Vector_Set/32px/calendar-na.png');
}
.icon_32 .calendar-time{
   background-image: url('../Rocky_Vector_Set/32px/calendar-time.png');
}
.icon_32 .camera{
   background-image: url('../Rocky_Vector_Set/32px/camera.png');
}
.icon_32 .car{
   background-image: url('../Rocky_Vector_Set/32px/car.png');
}
.icon_32 .cd{
   background-image: url('../Rocky_Vector_Set/32px/cd.png');
}
.icon_32 .chart{
   background-image: url('../Rocky_Vector_Set/32px/chart.png');
}
.icon_32 .check{
   background-image: url('../Rocky_Vector_Set/32px/check.png');
}
.icon_32 .check-box{
   background-image: url('../Rocky_Vector_Set/32px/check-box.png');
}
.icon_32 .clipboard{
   background-image: url('../Rocky_Vector_Set/32px/clipboard.png');
}
.icon_32 .clock{
   background-image: url('../Rocky_Vector_Set/32px/clock.png');
}
.icon_32 .coffee-cup{
   background-image: url('../Rocky_Vector_Set/32px/coffee-cup.png');
}
.icon_32 .coffee-mug{
   background-image: url('../Rocky_Vector_Set/32px/coffee-mug.png');
}
.icon_32 .collapse{
   background-image: url('../Rocky_Vector_Set/32px/collapse.png');
}
.icon_32 .comment{
   background-image: url('../Rocky_Vector_Set/32px/comment.png');
}
.icon_32 .comment-add{
   background-image: url('../Rocky_Vector_Set/32px/comment-add.png');
}
.icon_32 .comment-check{
   background-image: url('../Rocky_Vector_Set/32px/comment-check.png');
}
.icon_32 .comment-delete{
   background-image: url('../Rocky_Vector_Set/32px/comment-delete.png');
}
.icon_32 .comment-disable{
   background-image: url('../Rocky_Vector_Set/32px/comment-disable.png');
}
.icon_32 .comment-write{
   background-image: url('../Rocky_Vector_Set/32px/comment-write.png');
}
.icon_32 .compass{
   background-image: url('../Rocky_Vector_Set/32px/compass.png');
}
.icon_32 .connect{
   background-image: url('../Rocky_Vector_Set/32px/connect.png');
}
.icon_32 .connection-signal{
   background-image: url('../Rocky_Vector_Set/32px/connection-signal.png');
}
.icon_32 .construction{
   background-image: url('../Rocky_Vector_Set/32px/construction.png');
}
.icon_32 .construction-hat{
   background-image: url('../Rocky_Vector_Set/32px/construction-hat.png');
}
.icon_32 .contact-book{
   background-image: url('../Rocky_Vector_Set/32px/contact-book.png');
}
.icon_32 .contact-card{
   background-image: url('../Rocky_Vector_Set/32px/contact-card.png');
}
.icon_32 .contrast{
   background-image: url('../Rocky_Vector_Set/32px/contrast.png');
}
.icon_32 .controller-eject{
   background-image: url('../Rocky_Vector_Set/32px/controller-eject.png');
}
.icon_32 .controller-forward{
   background-image: url('../Rocky_Vector_Set/32px/controller-forward.png');
}
.icon_32 .controller-next{
   background-image: url('../Rocky_Vector_Set/32px/controller-next.png');
}
.icon_32 .controller-pause{
   background-image: url('../Rocky_Vector_Set/32px/controller-pause.png');
}
.icon_32 .controller-play{
   background-image: url('../Rocky_Vector_Set/32px/controller-play.png');
}
.icon_32 .controller-previous{
   background-image: url('../Rocky_Vector_Set/32px/controller-previous.png');
}
.icon_32 .controller-record{
   background-image: url('../Rocky_Vector_Set/32px/controller-record.png');
}
.icon_32 .controller-rewind{
   background-image: url('../Rocky_Vector_Set/32px/controller-rewind.png');
}
.icon_32 .controller-stop{
   background-image: url('../Rocky_Vector_Set/32px/controller-stop.png');
}
.icon_32 .cool{
   background-image: url('../Rocky_Vector_Set/32px/cool.png');
}
.icon_32 .copy{
   background-image: url('../Rocky_Vector_Set/32px/copy.png');
}
.icon_32 .credit-card{
   background-image: url('../Rocky_Vector_Set/32px/credit-card.png');
}
.icon_32 .cursor{
   background-image: url('../Rocky_Vector_Set/32px/cursor.png');
}
.icon_32 .cut{
   background-image: url('../Rocky_Vector_Set/32px/cut.png');
}
.icon_32 .dashboard{
   background-image: url('../Rocky_Vector_Set/32px/dashboard.png');
}
.icon_32 .database{
   background-image: url('../Rocky_Vector_Set/32px/database.png');
}
.icon_32 .database-add{
   background-image: url('../Rocky_Vector_Set/32px/database-add.png');
}
.icon_32 .database-check{
   background-image: url('../Rocky_Vector_Set/32px/database-check.png');
}
.icon_32 .database-delete{
   background-image: url('../Rocky_Vector_Set/32px/database-delete.png');
}
.icon_32 .database-edit{
   background-image: url('../Rocky_Vector_Set/32px/database-edit.png');
}
.icon_32 .database-error{
   background-image: url('../Rocky_Vector_Set/32px/database-error.png');
}
.icon_32 .database-export{
   background-image: url('../Rocky_Vector_Set/32px/database-export.png');
}
.icon_32 .database-import{
   background-image: url('../Rocky_Vector_Set/32px/database-import.png');
}
.icon_32 .database-lock{
   background-image: url('../Rocky_Vector_Set/32px/database-lock.png');
}
.icon_32 .database-na{
   background-image: url('../Rocky_Vector_Set/32px/database-na.png');
}
.icon_32 .database-reload{
   background-image: url('../Rocky_Vector_Set/32px/database-reload.png');
}
.icon_32 .database-save{
   background-image: url('../Rocky_Vector_Set/32px/database-save.png');
}
.icon_32 .database-search{
   background-image: url('../Rocky_Vector_Set/32px/database-search.png');
}
.icon_32 .database-start{
   background-image: url('../Rocky_Vector_Set/32px/database-start.png');
}
.icon_32 .database-stop{
   background-image: url('../Rocky_Vector_Set/32px/database-stop.png');
}
.icon_32 .database-user{
   background-image: url('../Rocky_Vector_Set/32px/database-user.png');
}
.icon_32 .delete{
   background-image: url('../Rocky_Vector_Set/32px/delete.png');
}
.icon_32 .delivery-truck{
   background-image: url('../Rocky_Vector_Set/32px/delivery-truck.png');
}
.icon_32 .disconnect{
   background-image: url('../Rocky_Vector_Set/32px/disconnect.png');
}
.icon_32 .discussion{
   background-image: url('../Rocky_Vector_Set/32px/discussion.png');
}
.icon_32 .download{
   background-image: url('../Rocky_Vector_Set/32px/download.png');
}
.icon_32 .earth{
   background-image: url('../Rocky_Vector_Set/32px/earth.png');
}
.icon_32 .edit-disable{
   background-image: url('../Rocky_Vector_Set/32px/edit-disable.png');
}
.icon_32 .email{
   background-image: url('../Rocky_Vector_Set/32px/email.png');
}
.icon_32 .email-delete{
   background-image: url('../Rocky_Vector_Set/32px/email-delete.png');
}
.icon_32 .email-forward{
   background-image: url('../Rocky_Vector_Set/32px/email-forward.png');
}
.icon_32 .email-new{
   background-image: url('../Rocky_Vector_Set/32px/email-new.png');
}
.icon_32 .email-open{
   background-image: url('../Rocky_Vector_Set/32px/email-open.png');
}
.icon_32 .email-reply{
   background-image: url('../Rocky_Vector_Set/32px/email-reply.png');
}
.icon_32 .email-write{
   background-image: url('../Rocky_Vector_Set/32px/email-write.png');
}
.icon_32 .employee-id{
   background-image: url('../Rocky_Vector_Set/32px/employee-id.png');
}
.icon_32 .exchange{
   background-image: url('../Rocky_Vector_Set/32px/exchange.png');
}
.icon_32 .expand{
   background-image: url('../Rocky_Vector_Set/32px/expand.png');
}
.icon_32 .eye{
   background-image: url('../Rocky_Vector_Set/32px/eye.png');
}
.icon_32 .eyedropper{
   background-image: url('../Rocky_Vector_Set/32px/eyedropper.png');
}
.icon_32 .fan{
   background-image: url('../Rocky_Vector_Set/32px/fan.png');
}
.icon_32 .favorite{
   background-image: url('../Rocky_Vector_Set/32px/favorite.png');
}
.icon_32 .favorite-add{
   background-image: url('../Rocky_Vector_Set/32px/favorite-add.png');
}
.icon_32 .favorite-delete{
   background-image: url('../Rocky_Vector_Set/32px/favorite-delete.png');
}
.icon_32 .favorite-edit{
   background-image: url('../Rocky_Vector_Set/32px/favorite-edit.png');
}
.icon_32 .fever-chart{
   background-image: url('../Rocky_Vector_Set/32px/fever-chart.png');
}
.icon_32 .filter{
   background-image: url('../Rocky_Vector_Set/32px/filter.png');
}
.icon_32 .financial{
   background-image: url('../Rocky_Vector_Set/32px/financial.png');
}
.icon_32 .first-aid-box{
   background-image: url('../Rocky_Vector_Set/32px/first-aid-box.png');
}
.icon_32 .flag{
   background-image: url('../Rocky_Vector_Set/32px/flag.png');
}
.icon_32 .flash{
   background-image: url('../Rocky_Vector_Set/32px/flash.png');
}
.icon_32 .folder{
   background-image: url('../Rocky_Vector_Set/32px/folder.png');
}
.icon_32 .folder-add{
   background-image: url('../Rocky_Vector_Set/32px/folder-add.png');
}
.icon_32 .folder-delete{
   background-image: url('../Rocky_Vector_Set/32px/folder-delete.png');
}
.icon_32 .folder-edit{
   background-image: url('../Rocky_Vector_Set/32px/folder-edit.png');
}
.icon_32 .folder-search{
   background-image: url('../Rocky_Vector_Set/32px/folder-search.png');
}
.icon_32 .font-decrease{
   background-image: url('../Rocky_Vector_Set/32px/font-decrease.png');
}
.icon_32 .font-increase{
   background-image: url('../Rocky_Vector_Set/32px/font-increase.png');
}
.icon_32 .fullscreen{
   background-image: url('../Rocky_Vector_Set/32px/fullscreen.png');
}
.icon_32 .fullscreen-enter{
   background-image: url('../Rocky_Vector_Set/32px/fullscreen-enter.png');
}
.icon_32 .fullscreen-exit{
   background-image: url('../Rocky_Vector_Set/32px/fullscreen-exit.png');
}
.icon_32 .game-controller{
   background-image: url('../Rocky_Vector_Set/32px/game-controller.png');
}
.icon_32 .gift{
   background-image: url('../Rocky_Vector_Set/32px/gift.png');
}
.icon_32 .gift-card{
   background-image: url('../Rocky_Vector_Set/32px/gift-card.png');
}
.icon_32 .go-to-bottom{
   background-image: url('../Rocky_Vector_Set/32px/go-to-bottom.png');
}
.icon_32 .go-to-top{
   background-image: url('../Rocky_Vector_Set/32px/go-to-top.png');
}
.icon_32 .gym{
   background-image: url('../Rocky_Vector_Set/32px/gym.png');
}
.icon_32 .hammer{
   background-image: url('../Rocky_Vector_Set/32px/hammer.png');
}
.icon_32 .hand{
   background-image: url('../Rocky_Vector_Set/32px/hand.png');
}
.icon_32 .hand-pointer{
   background-image: url('../Rocky_Vector_Set/32px/hand-pointer.png');
}
.icon_32 .headphone{
   background-image: url('../Rocky_Vector_Set/32px/headphone.png');
}
.icon_32 .help{
   background-image: url('../Rocky_Vector_Set/32px/help.png');
}
.icon_32 .highlighter{
   background-image: url('../Rocky_Vector_Set/32px/highlighter.png');
}
.icon_32 .history{
   background-image: url('../Rocky_Vector_Set/32px/history.png');
}
.icon_32 .home{
   background-image: url('../Rocky_Vector_Set/32px/home.png');
}
.icon_32 .hot{
   background-image: url('../Rocky_Vector_Set/32px/hot.png');
}
.icon_32 .hourglass{
   background-image: url('../Rocky_Vector_Set/32px/hourglass.png');
}
.icon_32 .infinite{
   background-image: url('../Rocky_Vector_Set/32px/infinite.png');
}
.icon_32 .info{
   background-image: url('../Rocky_Vector_Set/32px/info.png');
}
.icon_32 .iphone{
   background-image: url('../Rocky_Vector_Set/32px/iphone.png');
}
.icon_32 .ipod{
   background-image: url('../Rocky_Vector_Set/32px/ipod.png');
}
.icon_32 .key{
   background-image: url('../Rocky_Vector_Set/32px/key.png');
}
.icon_32 .lab{
   background-image: url('../Rocky_Vector_Set/32px/lab.png');
}
.icon_32 .laptop{
   background-image: url('../Rocky_Vector_Set/32px/laptop.png');
}
.icon_32 .light-bulb{
   background-image: url('../Rocky_Vector_Set/32px/light-bulb.png');
}
.icon_32 .link{
   background-image: url('../Rocky_Vector_Set/32px/link.png');
}
.icon_32 .location{
   background-image: url('../Rocky_Vector_Set/32px/location.png');
}
.icon_32 .location-pin{
   background-image: url('../Rocky_Vector_Set/32px/location-pin.png');
}
.icon_32 .lock{
   background-image: url('../Rocky_Vector_Set/32px/lock.png');
}
.icon_32 .login{
   background-image: url('../Rocky_Vector_Set/32px/login.png');
}
.icon_32 .logout{
   background-image: url('../Rocky_Vector_Set/32px/logout.png');
}
.icon_32 .luggage{
   background-image: url('../Rocky_Vector_Set/32px/luggage.png');
}
.icon_32 .magic-wand{
   background-image: url('../Rocky_Vector_Set/32px/magic-wand.png');
}
.icon_32 .mailbox{
   background-image: url('../Rocky_Vector_Set/32px/mailbox.png');
}
.icon_32 .mailbox-in{
   background-image: url('../Rocky_Vector_Set/32px/mailbox-in.png');
}
.icon_32 .mailbox-out{
   background-image: url('../Rocky_Vector_Set/32px/mailbox-out.png');
}
.icon_32 .martini-glass{
   background-image: url('../Rocky_Vector_Set/32px/martini-glass.png');
}
.icon_32 .merge{
   background-image: url('../Rocky_Vector_Set/32px/merge.png');
}
.icon_32 .microphone{
   background-image: url('../Rocky_Vector_Set/32px/microphone.png');
}
.icon_32 .minus{
   background-image: url('../Rocky_Vector_Set/32px/minus.png');
}
.icon_32 .monitor{
   background-image: url('../Rocky_Vector_Set/32px/monitor.png');
}
.icon_32 .mouse{
   background-image: url('../Rocky_Vector_Set/32px/mouse.png');
}
.icon_32 .move{
   background-image: url('../Rocky_Vector_Set/32px/move.png');
}
.icon_32 .museum{
   background-image: url('../Rocky_Vector_Set/32px/museum.png');
}
.icon_32 .music{
   background-image: url('../Rocky_Vector_Set/32px/music.png');
}
.icon_32 .network{
   background-image: url('../Rocky_Vector_Set/32px/network.png');
}
.icon_32 .newspaper{
   background-image: url('../Rocky_Vector_Set/32px/newspaper.png');
}
.icon_32 .notepad{
   background-image: url('../Rocky_Vector_Set/32px/notepad.png');
}
.icon_32 .office-chair{
   background-image: url('../Rocky_Vector_Set/32px/office-chair.png');
}
.icon_32 .orbit{
   background-image: url('../Rocky_Vector_Set/32px/orbit.png');
}
.icon_32 .package-box{
   background-image: url('../Rocky_Vector_Set/32px/package-box.png');
}
.icon_32 .page{
   background-image: url('../Rocky_Vector_Set/32px/page.png');
}
.icon_32 .page-add{
   background-image: url('../Rocky_Vector_Set/32px/page-add.png');
}
.icon_32 .page-check{
   background-image: url('../Rocky_Vector_Set/32px/page-check.png');
}
.icon_32 .page-delete{
   background-image: url('../Rocky_Vector_Set/32px/page-delete.png');
}
.icon_32 .page-edit{
   background-image: url('../Rocky_Vector_Set/32px/page-edit.png');
}
.icon_32 .page-error{
   background-image: url('../Rocky_Vector_Set/32px/page-error.png');
}
.icon_32 .page-lock{
   background-image: url('../Rocky_Vector_Set/32px/page-lock.png');
}
.icon_32 .page-new{
   background-image: url('../Rocky_Vector_Set/32px/page-new.png');
}
.icon_32 .page-not-found{
   background-image: url('../Rocky_Vector_Set/32px/page-not-found.png');
}
.icon_32 .page-save{
   background-image: url('../Rocky_Vector_Set/32px/page-save.png');
}
.icon_32 .page-search{
   background-image: url('../Rocky_Vector_Set/32px/page-search.png');
}
.icon_32 .page-user{
   background-image: url('../Rocky_Vector_Set/32px/page-user.png');
}
.icon_32 .paint-brush{
   background-image: url('../Rocky_Vector_Set/32px/paint-brush.png');
}
.icon_32 .paper-clip{
   background-image: url('../Rocky_Vector_Set/32px/paper-clip.png');
}
.icon_32 .paste{
   background-image: url('../Rocky_Vector_Set/32px/paste.png');
}
.icon_32 .pen{
   background-image: url('../Rocky_Vector_Set/32px/pen.png');
}
.icon_32 .pencil{
   background-image: url('../Rocky_Vector_Set/32px/pencil.png');
}
.icon_32 .phone{
   background-image: url('../Rocky_Vector_Set/32px/phone.png');
}
.icon_32 .phone-classic{
   background-image: url('../Rocky_Vector_Set/32px/phone-classic.png');
}
.icon_32 .phone-mobile{
   background-image: url('../Rocky_Vector_Set/32px/phone-mobile.png');
}
.icon_32 .picture{
   background-image: url('../Rocky_Vector_Set/32px/picture.png');
}
.icon_32 .pie-chart{
   background-image: url('../Rocky_Vector_Set/32px/pie-chart.png');
}
.icon_32 .pin{
   background-image: url('../Rocky_Vector_Set/32px/pin.png');
}
.icon_32 .plugin{
   background-image: url('../Rocky_Vector_Set/32px/plugin.png');
}
.icon_32 .podcast{
   background-image: url('../Rocky_Vector_Set/32px/podcast.png');
}
.icon_32 .power{
   background-image: url('../Rocky_Vector_Set/32px/power.png');
}
.icon_32 .presentation{
   background-image: url('../Rocky_Vector_Set/32px/presentation.png');
}
.icon_32 .print{
   background-image: url('../Rocky_Vector_Set/32px/print.png');
}
.icon_32 .puzzle{
   background-image: url('../Rocky_Vector_Set/32px/puzzle.png');
}
.icon_32 .quote{
   background-image: url('../Rocky_Vector_Set/32px/quote.png');
}
.icon_32 .radio{
   background-image: url('../Rocky_Vector_Set/32px/radio.png');
}
.icon_32 .recycle{
   background-image: url('../Rocky_Vector_Set/32px/recycle.png');
}
.icon_32 .redo{
   background-image: url('../Rocky_Vector_Set/32px/redo.png');
}
.icon_32 .reload{
   background-image: url('../Rocky_Vector_Set/32px/reload.png');
}
.icon_32 .remote-control{
   background-image: url('../Rocky_Vector_Set/32px/remote-control.png');
}
.icon_32 .repeat{
   background-image: url('../Rocky_Vector_Set/32px/repeat.png');
}
.icon_32 .replay{
   background-image: url('../Rocky_Vector_Set/32px/replay.png');
}
.icon_32 .restrict{
   background-image: url('../Rocky_Vector_Set/32px/restrict.png');
}
.icon_32 .rocket{
   background-image: url('../Rocky_Vector_Set/32px/rocket.png');
}
.icon_32 .rss{
   background-image: url('../Rocky_Vector_Set/32px/rss.png');
}
.icon_32 .satellite{
   background-image: url('../Rocky_Vector_Set/32px/satellite.png');
}
.icon_32 .save{
   background-image: url('../Rocky_Vector_Set/32px/save.png');
}
.icon_32 .script{
   background-image: url('../Rocky_Vector_Set/32px/script.png');
}
.icon_32 .search{
   background-image: url('../Rocky_Vector_Set/32px/search.png');
}
.icon_32 .security{
   background-image: url('../Rocky_Vector_Set/32px/security.png');
}
.icon_32 .setting{
   background-image: url('../Rocky_Vector_Set/32px/setting.png');
}
.icon_32 .share{
   background-image: url('../Rocky_Vector_Set/32px/share.png');
}
.icon_32 .shopping-bag{
   background-image: url('../Rocky_Vector_Set/32px/shopping-bag.png');
}
.icon_32 .shopping-basket{
   background-image: url('../Rocky_Vector_Set/32px/shopping-basket.png');
}
.icon_32 .shopping-cart{
   background-image: url('../Rocky_Vector_Set/32px/shopping-cart.png');
}
.icon_32 .shovel{
   background-image: url('../Rocky_Vector_Set/32px/shovel.png');
}
.icon_32 .shuffle{
   background-image: url('../Rocky_Vector_Set/32px/shuffle.png');
}
.icon_32 .shutter{
   background-image: url('../Rocky_Vector_Set/32px/shutter.png');
}
.icon_32 .sign{
   background-image: url('../Rocky_Vector_Set/32px/sign.png');
}
.icon_32 .sitemap{
   background-image: url('../Rocky_Vector_Set/32px/sitemap.png');
}
.icon_32 .slice{
   background-image: url('../Rocky_Vector_Set/32px/slice.png');
}
.icon_32 .sofa-chair{
   background-image: url('../Rocky_Vector_Set/32px/sofa-chair.png');
}
.icon_32 .split{
   background-image: url('../Rocky_Vector_Set/32px/split.png');
}
.icon_32 .sport{
   background-image: url('../Rocky_Vector_Set/32px/sport.png');
}
.icon_32 .sprayer{
   background-image: url('../Rocky_Vector_Set/32px/sprayer.png');
}
.icon_32 .star{
   background-image: url('../Rocky_Vector_Set/32px/star.png');
}
.icon_32 .stock-chart{
   background-image: url('../Rocky_Vector_Set/32px/stock-chart.png');
}
.icon_32 .stop{
   background-image: url('../Rocky_Vector_Set/32px/stop.png');
}
.icon_32 .zoom-in{
   background-image: url('../Rocky_Vector_Set/32px/zoom-in.png');
}
.icon_32 .zoom-out{
   background-image: url('../Rocky_Vector_Set/32px/zoom-out.png');
}
.icon_32 .tag{
   background-image: url('../Rocky_Vector_Set/32px/tag.png');
}
.icon_32 .tag-cloud{
   background-image: url('../Rocky_Vector_Set/32px/tag-cloud.png');
}
.icon_32 .thumb-down{
   background-image: url('../Rocky_Vector_Set/32px/thumb-down.png');
}
.icon_32 .thumb-up{
   background-image: url('../Rocky_Vector_Set/32px/thumb-up.png');
}
.icon_32 .ticket{
   background-image: url('../Rocky_Vector_Set/32px/ticket.png');
}
.icon_32 .timer{
   background-image: url('../Rocky_Vector_Set/32px/timer.png');
}
.icon_32 .tool{
   background-image: url('../Rocky_Vector_Set/32px/tool.png');
}
.icon_32 .tool-box{
   background-image: url('../Rocky_Vector_Set/32px/tool-box.png');
}
.icon_32 .train{
   background-image: url('../Rocky_Vector_Set/32px/train.png');
}
.icon_32 .trash{
   background-image: url('../Rocky_Vector_Set/32px/trash.png');
}
.icon_32 .trophy{
   background-image: url('../Rocky_Vector_Set/32px/trophy.png');
}
.icon_32 .tv{
   background-image: url('../Rocky_Vector_Set/32px/tv.png');
}
.icon_32 .umbella{
   background-image: url('../Rocky_Vector_Set/32px/umbella.png');
}
.icon_32 .undo{
   background-image: url('../Rocky_Vector_Set/32px/undo.png');
}
.icon_32 .unlock{
   background-image: url('../Rocky_Vector_Set/32px/unlock.png');
}
.icon_32 .upload{
   background-image: url('../Rocky_Vector_Set/32px/upload.png');
}
.icon_32 .usb{
   background-image: url('../Rocky_Vector_Set/32px/usb.png');
}
.icon_32 .user{
   background-image: url('../Rocky_Vector_Set/32px/user.png');
}
.icon_32 .user-add{
   background-image: url('../Rocky_Vector_Set/32px/user-add.png');
}
.icon_32 .user-comment{
   background-image: url('../Rocky_Vector_Set/32px/user-comment.png');
}
.icon_32 .user-delete{
   background-image: url('../Rocky_Vector_Set/32px/user-delete.png');
}
.icon_32 .user-disable{
   background-image: url('../Rocky_Vector_Set/32px/user-disable.png');
}
.icon_32 .user-edit{
   background-image: url('../Rocky_Vector_Set/32px/user-edit.png');
}
.icon_32 .user-group{
   background-image: url('../Rocky_Vector_Set/32px/user-group.png');
}
.icon_32 .walk{
   background-image: url('../Rocky_Vector_Set/32px/walk.png');
}
.icon_32 .wallet{
   background-image: url('../Rocky_Vector_Set/32px/wallet.png');
}
.icon_32 .weather{
   background-image: url('../Rocky_Vector_Set/32px/weather.png');
}
.icon_32 .web{
   background-image: url('../Rocky_Vector_Set/32px/web.png');
}
.icon_32 .webcam{
   background-image: url('../Rocky_Vector_Set/32px/webcam.png');
}
.icon_32 .video-camera{
   background-image: url('../Rocky_Vector_Set/32px/video-camera.png');
}
.icon_32 .video-clapper{
   background-image: url('../Rocky_Vector_Set/32px/video-clapper.png');
}
.icon_32 .video-film{
   background-image: url('../Rocky_Vector_Set/32px/video-film.png');
}
.icon_32 .video-reel{
   background-image: url('../Rocky_Vector_Set/32px/video-reel.png');
}
.icon_32 .wine-glass{
   background-image: url('../Rocky_Vector_Set/32px/wine-glass.png');
}
.icon_32 .wireless{
   background-image: url('../Rocky_Vector_Set/32px/wireless.png');
}
.icon_32 .voice-command{
   background-image: url('../Rocky_Vector_Set/32px/voice-command.png');
}
.icon_32 .voice-command-disable{
   background-image: url('../Rocky_Vector_Set/32px/voice-command-disable.png');
}
.icon_32 .volume-high{
   background-image: url('../Rocky_Vector_Set/32px/volume-high.png');
}
.icon_32 .volume-low{
   background-image: url('../Rocky_Vector_Set/32px/volume-low.png');
}
.icon_32 .volume-mute{
   background-image: url('../Rocky_Vector_Set/32px/volume-mute.png');
}
.icon_32 .write-note{
   background-image: url('../Rocky_Vector_Set/32px/write-note.png');
}